﻿<textarea style="display: none" id="OnwardOneWayTemplate">
        <div class="mobflt-conthdr">
        <div class="clr"></div>
        <table class="flightcontainerInternational DivFlightWidth" cellpadding="0" cellspacing="0"
            border="0" width="100%">
            {#foreach $T as record}
            <tr class="Rightpannel_customDivFlight seq_{$T.record.SequenceNo}">
            <td style="width:100%;float:left">
            <div class="flight-data">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td style="width:100%;float:left">
                <div class="miles-air">
                    <!--<div class="airLogo"><img src="{$T.record.ListOfFlightSegments[0].Carrier.CarrierLogoPath}" title="{$T.record.ListOfFlightSegments[0].Carrier.CarrierName}" class="img" width="33" height="33" /></div>-->
                      <div class="milesWay">WorldRewardZ <br />
                        one way
                        </div>
                      <div class="miles robothik">{$T.record.FareDetails.TotalPoints}</div>
                      <div class="clr"></div>
                    </div>
              </td>
            </tr>
            {#foreach $T.record.ListOfFlightSegments as ListOfFlightSegments}
                    <tr>
                        <td style="width:100%;float:left">
                          <label style="display:none">{$St=$T.ListOfFlightSegments$total}</label>
                          {#if $St==1}
                          <div class="miles-city">
                            <div class="ari-date">{$T.ListOfFlightSegments.DisplayDepartureDate}</div>
                            <div class="ari-time">{ConvertTime($T.ListOfFlightSegments.DisplayDepartureTime)}</div>
                            
                            <div class="dep-time">{$T.ListOfFlightSegments.DisplayArrivalDate}</div>
                            <div class="dep-date">{ConvertTime($T.ListOfFlightSegments.DisplayArrivalTime)}</div>
                            <div class="clr"></div>
                          </div>
                          <div class="miles-cityHlr">
                               {#if $T.ListOfFlightDetails$iteration==0}
                                    <div class="air-stop no-bg "><span class="air-stop-blk">Non STOP {$T.record.TotalDurationDisplay}</span></div>
                               {#else}
                                    <div class="air-stop no-bg "><span class="air-stop-blk">Non STOP {$T.record.TotalDurationDisplay}</span></div>
                               {#/if}
                               <div class="clr"></div>
                             <div class="miles-city">
                                <div class="ari-city"><span>{$T.ListOfFlightSegments.DepartureAirField.City}</span><span class="cityCode">{$T.ListOfFlightSegments.DepartureAirField.IATACode}</span>
                                </div>
                                <div class="dep-city brdnone"><span>{$T.ListOfFlightSegments.ArrivalAirField.City}</span><span class="cityCode">{$T.ListOfFlightSegments.ArrivalAirField.IATACode}</span></div>
                            </div>
                            <div class="clr"></div>
                         </div>
                          {#elseif $St==2}
                          {#if $T.ListOfFlightSegments$index==0}
                          <div class="miles-city">
                            <div class="ari-date">{$T.ListOfFlightSegments.DisplayDepartureDate}</div>
                            <div class="ari-time">{ConvertTime($T.ListOfFlightSegments.DisplayDepartureTime)}</div>
                            
                            <div class="dep-time">{$T.record.ListOfFlightSegments[1].DisplayArrivalDate}</div>
                            <div class="dep-date">{ConvertTime($T.record.ListOfFlightSegments[1].DisplayArrivalTime)}</div>
                            <div class="clr"></div>
                          </div>
                          <div class="miles-cityHlr">
                               {#if $T.ListOfFlightDetails$iteration==0}
                                    <div class="air-stop no-bg "><span class="air-stop-blk">1 STOP {$T.record.TotalDurationDisplay}</span></div>
                               {#else}
                                    <div class="air-stop no-bg "><span class="air-stop-blk">1 STOP {$T.record.TotalDurationDisplay}</span></div>
                               {#/if}
                               <div class="clr"></div>
                             <div class="miles-city">
                                <div class="ari-city"><span>{$T.ListOfFlightSegments.DepartureAirField.City}</span><span class="cityCode">{$T.ListOfFlightSegments.DepartureAirField.IATACode}</span>
                                </div>
                                <div class="dep-city brdnone"><span>{$T.record.ListOfFlightSegments[1].ArrivalAirField.City}</span><span class="cityCode">{$T.record.ListOfFlightSegments[1].ArrivalAirField.IATACode}</span></div>
                            </div>
                            <div class="clr"></div>
                         </div>
                          {#/if} 
                          {#else}
                          {#if $T.ListOfFlightSegments$index==0}
                          <div class="miles-city">
                            <div class="ari-date">{$T.ListOfFlightSegments.DisplayDepartureDate}</div>
                            <div class="ari-time">{ConvertTime($T.ListOfFlightSegments.DisplayDepartureTime)}</div>
                            
                            <div class="dep-time">{$T.ListOfFlightDetails.ListOfFlightSegments[1].DisplayArrivalDate}</div>
                            <div class="dep-date">{ConvertTime($T.ListOfFlightDetails.ListOfFlightSegments[1].DisplayArrivalTime)}</div>
                            <div class="clr"></div>
                          </div>
                          <div class="miles-cityHlr">
                               {#if $T.ListOfFlightDetails$iteration==0}
                                    <div class="air-stop no-bg "><span class="air-stop-blk">2 STOP {$T.ListOfFlightDetails.TotalDurationDisplay}</span></div>
                               {#else}
                                    <div class="air-stop no-bg "><span class="air-stop-blk">2 STOP {$T.ListOfFlightDetails.TotalDurationDisplay}</span></div>
                               {#/if}
                               <div class="clr"></div>
                             <div class="miles-city">
                                <div class="ari-city"><span>{$T.ListOfFlightSegments.DepartureAirField.City}</span><span class="cityCode">{$T.ListOfFlightSegments.DepartureAirField.IATACode}</span>
                                </div>
                                <div class="dep-city brdnone"><span>{$T.ListOfFlightDetails.ListOfFlightSegments[2].ArrivalAirField.City}</span><span class="cityCode">{$T.ListOfFlightDetails.ListOfFlightSegments[2].ArrivalAirField.IATACode}</span></div>
                            </div>
                            <div class="clr"></div>
                         </div>
                          {#/if} 
                          {#/if} 

                        </td>
                    </tr>
            {#/for}
            <tr>
            <td style="float:left;width:100%;">
            <div class="miles-cityHlr">
                <div class="dtls-book arial"><a href="#" onclick="return showhideDetails('divDetails{$T.record.SequenceNo}');">See Flight Details</a>
                    <div class="btn">
                        <a href="flight-checkout.html">
                            <button onclick="var retvalue = BookDomesticOneWay('{$T.record.SequenceNo}'); event.returnValue= retvalue;event.preventDefault(); return retvalue;"  class="btn">Book Now</button>
                        </a>
                    </div>
                    <div class="clr"></div>
                </div></div>
            </td>
            </tr>
            <tr class="divDetails{$T.record.SequenceNo}" style="display:none;min-height:126px;"><td style="float:left;width:100%">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    {#foreach $T.record.ListOfFlightSegments as ListOfFlightSegments}
                <label style="display:none">{$LayOver=$T.ListOfFlightSegments$total}</label>
                <tr>
                    <td style="float:left;width:100%">
                        <div class="clr"></div>
                        <div class="mob-dtlHlr">
                        <div class="miles-cityHlr">
                            {#if $T.ListOfFlightSegments$index==0}
                        <div class="fltDtls "><span class="depHead">
                            Departure
                            </span><span class="totTime">
                            Total Duration : {$T.record.TotalDurationDisplay}</span><div class="clr"></div></div>
                        {#/if}
                       <div class="miles-city">
                            <div class="airLogo fL"><img src="{$T.ListOfFlightSegments.Carrier.CarrierLogoPath}" class="img" width="15%"> <span>{$T.ListOfFlightSegments.Carrier.CarrierCode} {$T.ListOfFlightSegments.FlightNo}</span></div>
                             <div class="ari-city width30P">  <span>{$T.ListOfFlightSegments.DepartureAirField.City}</span><span class="cityCode">&nbsp;&nbsp;{$T.ListOfFlightSegments.DepartureAirField.IATACode}</span>
                                 <span class="ari-city-icnA"></span>
                                </div>
                             <div class="dep-city brdnone width30P"><span>{$T.ListOfFlightSegments.ArrivalAirField.City}</span><span class="cityCode">&nbsp;&nbsp;{$T.ListOfFlightSegments.ArrivalAirField.IATACode}</span></div>
                            </div>
                        </div>
                        </div>
                    </td>
                </tr>
            {#/for}
            </table></td></tr>
            </table>
            </div>
            </td>
            </tr>
            <tr class="rowspace seq_{$T.record.SequenceNo}">
                <td colspan="3" style="height:0px;">
                    &nbsp;
                </td>
            </tr>
            {#/for}
            </table>
        </div>
         <div class="flt-conthdr">
        <table class="flightcontainerInternational DivFlightWidth" cellpadding="0" cellspacing="0"
            border="0" width="100%">
            {#foreach $T as record}
            <tr class="Rightpannel_customDivFlight seq_{$T.record.SequenceNo}">
            <td style="width:100%;float:left">
            <div class="flight-data">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td style="width:100%;float:left">
                <div class="miles-air">
                    <!--<div class="airLogo"><img src="{$T.record.ListOfFlightSegments[0].Carrier.CarrierLogoPath}" title="{$T.record.ListOfFlightSegments[0].Carrier.CarrierName}" class="img" width="33" height="33" /></div>-->
                      <div class="milesWay">WorldRewardZ<br />
                        one way
                        </div>
                      <div class="miles robothik">{$T.record.FareDetails.TotalPoints}</div>
                      <div class="clr"></div>
                    </div>
              </td>
            </tr>
            {#foreach $T.record.ListOfFlightSegments as ListOfFlightSegments}
                    <tr>
                        <td style="width:100%;float:left">
                          <label style="display:none">{$St=$T.ListOfFlightSegments$total}</label>
                          {#if $St==1}
                          <div class="miles-city">
                            <div class="ari-date">{$T.ListOfFlightSegments.DisplayDepartureDate}</div>
                            <div class="ari-time">{ConvertTime($T.ListOfFlightSegments.DisplayDepartureTime)}</div>
                            <div class="ari-city"><span>{$T.ListOfFlightSegments.DepartureAirField.City} </span><span class="cityCode">{$T.ListOfFlightSegments.DepartureAirField.IATACode}</span></div>
                            {#if $T.ListOfFlightDetails$iteration==0}
                            <div class="air-stop"><span>Non Stop<br />{$T.record.TotalDurationDisplay}</span></div>
                            {#else}
                            <div class="air-stop"><span>Non Stop<br />{$T.record.TotalDurationDisplay}</span></div>
                            {#/if}
                            <div class="dep-city"><span>{$T.ListOfFlightSegments.ArrivalAirField.City} </span><span class="cityCode">{$T.ListOfFlightSegments.ArrivalAirField.IATACode}</span></div>
                            <div class="dep-time">{$T.ListOfFlightSegments.DisplayArrivalDate}</div>
                            <div class="dep-date">{ConvertTime($T.ListOfFlightSegments.DisplayArrivalTime)}</div>
                            <div class="clr"></div>
                          </div>
                          {#elseif $St==2}
                          {#if $T.ListOfFlightSegments$index==0}
                          <div class="miles-city">
                            <div class="ari-date">{$T.ListOfFlightSegments.DisplayDepartureDate}</div>
                            <div class="ari-time">{ConvertTime($T.ListOfFlightSegments.DisplayDepartureTime)}</div>
                            <div class="ari-city"><span>{$T.ListOfFlightSegments.DepartureAirField.City} </span><span class="cityCode">{$T.ListOfFlightSegments.DepartureAirField.IATACode}</span></div>
                            {#if $T.ListOfFlightDetails$iteration==0}
                            <div class="air-stop"><span>1 Stop<br />{$T.record.TotalDurationDisplay}</span></div>
                            {#else}
                            <div class="air-stop"><span>1 Stop<br />{$T.record.TotalDurationDisplay}</span></div>
                            {#/if}
                            <div class="dep-city"><span>{$T.record.ListOfFlightSegments[1].ArrivalAirField.City} </span><span class="cityCode">{$T.record.ListOfFlightSegments[1].ArrivalAirField.IATACode}</span></div>
                            <div class="dep-time">{$T.record.ListOfFlightSegments[1].DisplayArrivalDate}</div>
                            <div class="dep-date">{ConvertTime($T.record.ListOfFlightSegments[1].DisplayArrivalTime)}</div>
                            <div class="clr"></div>
                          </div>
                          {#/if} 
                          {#else}
                          {#if $T.ListOfFlightSegments$index==0}
                          <div class="miles-city">
                            <div class="ari-date">{$T.ListOfFlightSegments.DisplayDepartureDate}</div>
                            <div class="ari-time">{ConvertTime($T.ListOfFlightSegments.DisplayDepartureTime)}</div>
                            <div class="ari-city"><span>{$T.ListOfFlightSegments.DepartureAirField.City} </span><span class="cityCode">{$T.ListOfFlightSegments.DepartureAirField.IATACode}</span></div>
                            {#if $T.ListOfFlightDetails$iteration==0}
                            <div class="air-stop"><span>2 Stop<br />{$T.ListOfFlightDetails.TotalDurationDisplay}</span></div>
                            {#else}
                            <div class="air-stop"><span>2 Stop<br />{$T.ListOfFlightDetails.TotalDurationDisplay}</span></div>
                            {#/if}
                            <div class="dep-city"><span>{$T.record.ListOfFlightSegments[2].ArrivalAirField.City} </span><span class="cityCode">{$T.record.ListOfFlightSegments[2].ArrivalAirField.IATACode}</span></div>
                            <div class="dep-time">{$T.record.ListOfFlightSegments[1].DisplayArrivalDate}</div>
                            <div class="dep-date">{ConvertTime($T.record.ListOfFlightSegments[1].DisplayArrivalTime)}</div>
                            <div class="clr"></div>
                          </div>
                          {#/if} {#/if} 

                        </td>
                    </tr>
            {#/for}
            <tr>
            <td style="float:left;width:100%;">
                <div class="dtls-book arial"><a href="#" onclick="return showhideDetails('divDetails{$T.record.SequenceNo}');">See Flight Details</a>
                    <div class="btn">
                        <a href="flight-checkout.html">
                            <button  class="btn" onclick="var retvalue = BookDomesticOneWay('{$T.record.SequenceNo}'); event.returnValue= retvalue;event.preventDefault(); return retvalue;">Book Now</button>
                        </a>
                    </div>
                    <div class="clr"></div>
                </div>
            </td>
            </tr>
            <tr class="divDetails{$T.record.SequenceNo}" style="display:none"><td style="float:left;width:100%">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                {#foreach $T.record.ListOfFlightSegments as ListOfFlightSegments}
                <tr>
                    <td style="float:left;width:100%">
                        <div class="clr"></div>
                        <div class="flt-details">
                        {#if $T.ListOfFlightSegments$index==0}
                        <div class="flt-details-H">
                            <div class="air-logo">Carrier & Flight No.</div>
                            <div class="stopDtail-1">From</div>
                            <div  class="total-hrs">Duration</div>
                            <div class="stopDtail-2">To</div>
                        </div>
                        {#/if}
                        {#if $T.ListOfFlightSegments$index==0}
                        <div class="flt-layover"> 
                            Departure
                            <img src="Images/Flight_Depart_Icon.png" alt="Depart" />
                            <span>Total Duration : {$T.record.TotalDurationDisplay}</span>
                        </div>
                        {#/if}
                        
                          <div class="flt-details-L">
                          <div>
                            <div class="air-logo">
                                <img src="{$T.ListOfFlightSegments.Carrier.CarrierLogoPath}" class="img" /></div>
                                <div class="flt-code">
                                <div class="flt-comp">{$T.ListOfFlightSegments.Carrier.CarrierName}</div>
                                    <div class="flt-carrier">{$T.ListOfFlightSegments.Carrier.CarrierCode}{$T.ListOfFlightSegments.FlightNo}</div>
                                </div>
                            <div class="stopDtail-1">
                              <div class="stopCity">{$T.ListOfFlightSegments.DepartureAirField.AirportName}</div>
                              
                              <div class="stopCode">
                                    <div>{$T.ListOfFlightSegments.DepartureAirField.IATACode}&nbsp;&nbsp;{ConvertTime($T.ListOfFlightSegments.DisplayDepartureTime)}</div> 
                                    <div class="flt-date">{$T.ListOfFlightSegments.DisplayDepartureDate} </div>
                                    </div>
                            </div>
                            <div class="total-hrs">{$T.ListOfFlightSegments.TotalDurationHrs}hr {$T.ListOfFlightSegments.TotalDurationMins}m</div>
                            <div class="stopDtail-2">
                              <div class="stopCity">{$T.ListOfFlightSegments.ArrivalAirField.AirportName}</div>

                              <div class="stopCode">
                                    <div>{$T.ListOfFlightSegments.ArrivalAirField.IATACode}&nbsp;&nbsp;{ConvertTime($T.ListOfFlightSegments.DisplayArrivalTime)}</div> 
                                    <div class="flt-date">{$T.ListOfFlightSegments.DisplayArrivalDate} </div>
                                    </div>
                            </div>
                          </div>
                        </div>
                        </div>
                    </td>
                </tr>
                {#/for}
            </table></td></tr>
            </table>
            </div>
            </td>
            </tr>
            <tr class="rowspace seq_{$T.record.SequenceNo}">
                <td colspan="3" style="height:0px;">
                    &nbsp;
                </td>
            </tr>
            {#/for}
            </table>
            </div>
        </textarea>