﻿<textarea class="searchResponse DisplayNone" id="BookingAvalibilityDate">		       
                <div style="width:100%;float:left">
                     {#foreach $T as record}
                    
                    <div style="width:31%;float:left;margin:1%;border:1px solid #ccc;max-height:250px">
                        
                        <div style="width:100%;float:left;">
                        <span title="bookingDate"></span> : {$T.record.bookingDate}
                        </div>
                        <span style="float:left;" class="stars">
                           <span title="currencyCode"></span> :  {$T.record.currencyCode}
                        </span>
                        <div style="width:100%;float:left;">
                          <span title="gradeCode"></span> :   {$T.record.gradeCode}    
                        </div>
                        <div style="width:100%;float:left;">
                          <span title="available"></span> :   {$T.record.available}
                        </div>
                          <div style="width:100%;float:left;">
                          <span title="unavailableReason"></span> :   {$T.record.unavailableReason}                        
                       
                        <div style="width:100%;float:left;">
                            <img src="Images/Btn_BookNow.png"  runat="server" id="Img1" class="Arrow_Mouse" onclick="var retvalue = BookTourGrade('{$T.record.gradeCode}'); event.returnValue= retvalue;event.preventDefault(); return retvalue;" />
                        </div>
                    </div>
                        </div>  
                    {#/for}
                </div>
        
    </textarea>