﻿<textarea class="searchResponse DisplayNone" id="ProductListTemplate">		       
                
                     {#foreach $T as record}
                    <div class="listing-cube hotelrow" onclick="var retvalue = BookTour('{$T.record.Code}'); event.returnValue= retvalue;event.preventDefault(); return retvalue;">
                        <div class="img">
                            <img src={$T.record.ThumbnailHiResURL} onError="this.onerror=null;this.src='images/no-image.png';"/> <!--style="height:150px;" -->                                
                        </div>
                        <div class="tourCont">
                      <ul>
                          <li><span class="AmtStyle pointmiles">From {$T.record.FareDetails.TotalPoints}</span>
                              <span class="AmtStyle"> WorldRewardZ</span>
                          </li>
                          <li><h3>
                                {$T.record.ShortTitle}
                          <!--{$T.record.supplierName}-->
                                </h3></li>
                         
                          <!--<li> {$T.record.primaryDestinationName} ({$T.record.duration})</li>-->
                          
                          <li><span class="stars">
                             {$T.record.Rating}
                        </span></li>
                         <!--  <li>  {$T.record.reviewCount}&nbsp;&nbsp;Reviews</li>-->
                         <!-- <li>
                              <div>
                              <!--<button onclick="var retvalue = BookTour('{$T.record.code}'); event.returnValue= retvalue;event.preventDefault(); return retvalue;">Book Now</button>-->
                            <!--<img src="Images/Btn_BookNow.png"  runat="server" id="Img1" class="Arrow_Mouse" onclick="var retvalue = BookTour('{$T.record.code}'); event.returnValue= retvalue;event.preventDefault(); return retvalue;" />
                        </div></li>-->
                      </ul>
                             </div>
                    </div>  
                    {#/for}
        
    </textarea>