﻿<textarea class="searchResponse" id="TourGradeListTemplate" style="display: none">
        
            {#foreach $T as record}
                 <div class="Gradecover_div">
                        {#if $T.record.Available==true}
                        <div class="common_div">
                            <span style="clear: both;display: inline-block;font-size: 16px;padding: 2% 0 0;">{$T.record.GradeTitle}</span><br />
                            <span style="font-size:12px; color:#7d7d7d">Code: {$T.record.GradeCode}</span>
                        </div>
                        <div class="common_div bdr-right">
                          <p class="des_p">{$T.record.GradeDescription}</p>
                          <p class="des_p">Lowest price available: <span class="pointmiles">{$T.record.FareDetails.TotalPoints}</span></p>
                        </div>
                        <div class="common_div resp1">
                            <span class="AmtStyle pointmiles" style="display: inline-block;padding-top: 3%;font-size: 20px !important;font-weight:normal">{$T.record.FareDetails.TotalPoints}</span>
                            <span class="AmtStyle"> WorldRewardZ</span>
<br style="clear:both">
                            <input type="button" class="buttonContainerBooknow submit-buBookNow_submit-buttontton" runat="server" id="Button1" value="Book Now"
                                     onclick="var retvalue = BookTourGrade('{$T.record.GradeCode}'); event.returnValue = retvalue; event.preventDefault(); return retvalue;" />
                        </div>
                                
                        {#else} 
                        <div class="common_div">
                            <span style="clear: both;display: inline-block;font-size: 16px;padding: 2% 0 0;">{$T.record.GradeTitle}</span><br />
                            <span style="font-size:12px; color:#7d7d7d">Code: {$T.record.GradeCode}</span>
                        </div>
                        <div class="common_div60">
                          <p class="des_p">{$T.record.GradeDescription}</p>
                          <p class="des_p colorfade">We're sorry, this option is not available or sold out. </p>
                        </div>
                        {#/if} 
                </div>
            {#/for}
</textarea>

