﻿<%@ Page Title="" Language="C#" MasterPageFile="~/InfiPlanetMaster.master" AutoEventWireup="true"
    CodeFile="ContactUs.aspx.cs" Inherits="ContactUs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="CP" runat="Server">
    <link href="css/wr-main.css" rel="stylesheet" />
    <%--<div class="brd-crms">
        <asp:SiteMapPath ID="SiteMapPath1" runat="server" Visible="true" CssClass="" PathSeparator="&gt;">
            <CurrentNodeStyle CssClass="select" />
            <RootNodeStyle CssClass="" />
        </asp:SiteMapPath>
        <div class="clr">
        </div>
    </div>--%>
    
    <div class="contbg">

        <div class="contwrap">
            <div class="contctxt">
                <h2><img src="images/ico-cont.png" />Contact Us</h2>
                <hr />
                <p>WorldRewardZ is the first comprehensive Bank Loyalty Program that caters to all your lifestyle needs. It is the only program in the country where you earn points for transactions performed on variety of banking products, both conventional & Islamic.</p>
            </div>
            <div class="contredbx">
    <p>WorldRewardZ Contact Center Toll Free XXX XXX</p>
    <p>Outside UAE : +9714 366 2169</p>
    <p>Available 24/7</p>
            </div>
            <div class="getin">
               <h2>Stay in touch:</h2>
                <ul>
                    <li><a href="#"><img src="images/ico-socialcont.png" /></a></li>
                </ul>
            </div>
        </div>

    </div>



</asp:Content>

