﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="InfiExperienceRequest.aspx.cs" Inherits="InfiExperienceRequest" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <title>Sampath Bank</title>
</head>
<body style="margin: 0 auto; width: 1000px; text-align: center; font-family: Arial">
    <form id="form1" runat="server">
    <div style="float: left; width: 800px; border: 1px solid #ccc; margin-left: 100px">
        <div style="float: left; width: 100%;">
            <img alt="" src="Images/Header.jpg" border="0" />
        </div>
        <div style="float: left; width: 100%; text-align: center; font-size: 20px; padding: 10% 0">
           <%--Please wait while we process your request...<br />--%>
            <asp:Label ID="lblMessage" runat="server"></asp:Label>
        </div>
        <div style="float: left; width: 100%;">
            <img alt="" src="Images/Footer.jpg" border="0" />
        </div>
    </div>
    </form>
</body>
</html>
