﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="InvalidCredential.aspx.cs"
    Inherits="InvalidCredential" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Invalid Credential</title>
</head>
<body style="margin: 0 auto; width: 1000px; text-align: center; font-family: Arial">
    <form id="form1" runat="server">
    <div style="float: left; width: 100%; min-height: 300px;">
        <div id="Div1" runat="server" style="border: none; text-align: center; font-size: 18px;
            padding: 8% 0 5% 0; float: left; width: 100%;">
            Invalid request...
        </div>
    </div>
    </form>
</body>
</html>
