﻿<%@ Page Title="" Language="C#" MasterPageFile="~/InfiPlanetMaster.master" AutoEventWireup="true"
    CodeFile="Warningpage.aspx.cs" Inherits="Warningpage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="CP" runat="Server">
    <div style="float: left; width: 100%; min-height: 300px;">
        <div id="Div1" runat="server" style="border: none; text-align: center; font-size: 18px;
            padding: 8% 0 5% 0; float: left; width: 100%;">
            Your page has expired !!!!
        </div>
    </div>
</asp:Content>
