﻿body
{
    margin:0px;
    padding:0px;
    line-height:18px;
     font-family:Arial;
        color: #606060;
    font-size: 14px;
}
ul, li {
    border:none;
    list-style:none;
    padding:0px;
    margin:0px;
}

.cbLR-hdr {
    background:#ee1b22;    
    padding:60px 2%;
    width:96%;
      font-family:Arial;
    color:#fff;
}
.cbLR-ftr {
    background:#949597;    
    padding:60px 2%;
    width:96%;
      font-family:Arial;
    color:#fff;
}
.hdr-rdos {
    font-size:18px;
}

.cbLR-radios {
    float:left;
    margin:0px 25px 0 0;
}
.clr {
    clear:both;
}
.fL{
    float:left;
}
.cbLR-pgwrap {
    width:80%;
    margin:40px auto;
       font-family:Arial;
font-size:14px;
 color:#606060;
}
.cbLR-h1 {
    color:#ee1b22;
    font-size:24px;
    text-transform:uppercase;
    font-weight:normal;
   margin:5px 0 40px;
    padding:0px;
}

.cbLR-pgwrap {
 
}
.cbLR-pgwrap input[type="text"]{
    border:1px solid #bebebe;
    padding:7px;
    width:260px;
     color:#919191;
     font-size:16px;
}
.cbLR-pgwrap input[type="password"]{
    border:1px solid #bebebe;
    padding:7px;
    width:260px;
     color:#919191;
     font-size:16px;
}
    .cbLR-selbg {
         border:1px solid #bebebe;
    padding:6px;
    width:260px;
     
    }
        .cbLR-selbg select {
            width:100%;
            border:none;
            color:#919191;
            font-size:16px;
            padding:0px;
        }
.cbLR-title {
    font-size:14px;
 color:#606060;
 margin-bottom:3px;
 position:relative;
}
.cbLR-row {
    clear:both;
    margin-top:30px;
}
.cbLR-inp {
    float:left;
    margin-right:30px;
}
.cbLR-dob .cbLR-selbg {
    float:left;
    margin-right:8px;
    width:73px;
}
.last {
    margin:0px !important;
    
}

.cbLR-hr {
    margin:50px 0;
    background:#575757;
    height:1px;
}
.cbLR-phone .cbLR-selbg{
    float:left;
    margin-right:5px;
    width:85px;
}
.cbLR-phone input[type="text"] {
    width:154px;
}
.cbLR-scqst .cbLR-selbg{
    width:568px;
}
.agr-trms {
    background:#ededed;
    padding:10px 20px;
    
}
.cbLR-pgwrap a {
    color:#004b85;
}
.cbLR-pgwrap a:hover {
    color:#3b6f99;
}
.cbLR-btn {
    background:#ee1b22;
    padding:10px 45px;
    color:#fff;
    font-size:22px;
    border:none;
    margin:40px 0 0 0;
    cursor:pointer;
}
    .cbLR-btn:hover {
        background:#333;
    }
.ico-imp {
  background: rgba(0, 0, 0, 0) url("../images/ico-i.jpg") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 16px;
    left: 80px;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 16px;
}
.cbLR-remme {
    margin-top:10px;
}
.cbLR-remme input{
    position:relative;
    top:2px;
}
.hdr{
    background:url(../images/hdr-bg.jpg);
    width:100%;
    height:136px;
}
.chbk-logo {
float: left;
    margin: 10px;
    padding: 35px 0 0 35px;
}
    .chbk-logo img {
        width:100%;
    }
.fgps {
    text-align:right;
    margin-top:5px;
}

.divider {
    clear:both;
    position:relative;
    margin:60px 0 0;
}
.or {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #555555;
    border-radius: 100%;
    height: 18px;
    
    margin: auto;
    padding: 20px;
    position: relative;
    text-align: center;
    top: -40px;
    width: 20px;
}

hr {
    background:#555555;
}
.hdrlnks ul li{
    border-right: 1px solid #4c4c4c;
    display: inline-block;
   
    padding:0 6px 0 3px;
}
.hdrlnks ul li a{
      color: #666;
    font-size: 12px;
    text-decoration: none;
}
    .hdrlnks ul li a:hover {
        color:#ee1b22;
    }
.hdrlnks .last {
    margin:0px !important;
    border:none !important;
}
.hdrlnks {
    float:right;
    
    padding-top:25px;
    
}
.hdrlnks ul {
    float:right;
   /*margin-top:20px;*/
}

h2 {
    color:#ee1b22;
    font-weight:normal;
    font-size:22px;
}

select {
    width:100px;
    padding:5px;
}

.footer {
    background:#343434;
  padding:10px 0;
  margin-top:100px;
   
}
    .footer .cbLR-pgwrap {
        margin:0px auto;
    }
.copyryts {
    float: left;
    font-size:12px;
     color:#fff;
}

.foot {
    float: right;
    font-size: 14px;
    
}

.foot li {
    border-right: 1px solid #999999;
    float: left;
    padding: 0 10px;
}

.foot a {
    color: #999999;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
}
    .foot a:hover {
        color:#ee1b22;
    }

.redcol {
    color: #e30e27;
}
    .slicknav_menu{
        display:none;
    }
    .robot
{
	font-family: UbuntuRegular;
}
 

.hdrlnks .menu {
   margin-top: 10px;
}
@media only screen and (min-width:1024px) {
    .hdrlnks {
        padding-right: 45px;
    }
}
@media only screen and (max-width:768px) {
    .cbLR-btn {
        width: 100%;
    }

   
}
@media only screen and (max-width:1024px) {
     .chbk-logo {
        padding: 35px 0 0;
    }
    .hdrlnks {
        padding-top: 126px;
    }
.hdrlnks ul {
    /*float: right;*/
    /*margin-top: 28px;*/
}
    .hdrlnks {
            
        float:none;
    }
    .hdr-rdos {
        font-size:14px;
    }
       .slicknav_menu{
        display:block;
    }
    .menu {
        display:none;
    }
    .cbLR-pgwrap {
        width:90%;
    }
        .cbLR-pgwrap input[type="text"] {
           
    width: 96%;
        }
    .cbLR-inp {
        width:99%;
        margin-right:0px;
        margin-top:20px;
    }
    .cbLR-row {
        margin-top:0px;
    }
    .cbLR-pgwrap {
        margin-top:100px;
    }
    .cbLR-hr {
        margin:30px 0;
    }
    .cbLR-h1 {
        margin:35px 0 10px;
    }
    .hdr-rdos {
        font-weight:bold;
    }
    .cbLR-selbg select {
        font-size:14px;
    }
    .cbLR-selbg {
        width:96%;
    }
    .cbLR-phone .cbLR-selbg {
        width:76px;
    }
    .cbLR-scqst .cbLR-selbg {
        width:96%;
    }
}