/**
 *  Angular RangeSlider SCSS
 * 
 *  Version: 0.0.13
 *
 *  Author: Daniel Crisp, danielcrisp.com
 *
 *  The rangeSlider has been styled to match the default styling
 *  of form elements styled using Twitter's Bootstrap
 * 
 *  Originally forked from https://github.com/leongersen/noUiSlider
 *

  This code is released under the MIT Licence - http://opensource.org/licenses/MIT

  Copyright (c) 2013 Daniel Crisp

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  THE SOFTWARE.

 */
/*------------------------------------*\
    COMPASS IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    THE CSS
\*------------------------------------*/
/* line 25, scss/_rangeSlider.scss */
.ngrs-range-slider {
  position: relative;
  margin: 0px;
  padding: 4px;
 
 
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
   
   
 
  -moz-transition: border 0.2s linear, box-shadow 0.2s linear;
  -o-transition: border 0.2s linear, box-shadow 0.2s linear;
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear;
  transition: border 0.2s linear, box-shadow 0.2s linear;
  -webkit-tap-highlight-color: transparent;
  /*------------------------------------*\
      RUNNER
  \*------------------------------------*/
  /*------------------------------------*\
      JOIN (connects the two handles)
  \*------------------------------------*/
  /*------------------------------------*\
      HANDLE
  \*------------------------------------*/
  /*------------------------------------*\
      HANDLE SPECIFICS
  \*------------------------------------*/
  /*------------------------------------*\
      VALUE LABELS
  \*------------------------------------*/
  /*------------------------------------*\
      ATTACHED VALUE RUNNER
  \*------------------------------------*/
  /*------------------------------------*\
      VERTICAL SLIDER
  \*------------------------------------*/
  /*------------------------------------*\
      FOCUS STATE
  \*------------------------------------*/
  /*------------------------------------*\
      DISABLED STATE
  \*------------------------------------*/
}
/* line 28, scss/_rangeSlider.scss */
.ngrs-range-slider, .ngrs-range-slider * {
  display: block;
  cursor: default;
  color: #004943;
   /*font-size: 13px;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 53, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-runner {
  position: relative;
  margin: 0 9px;
  height: 18px;
}
/* line 63, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-join {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 100%;
  height: 8px;
  margin: -2px 0 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ddd;
  background-size: 100%;
  
}
/* line 81, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle {
  position: absolute;
    z-index: 2;
    height: 100%;
    width: 18px;
    margin: 0 0 0 -9px;
    background: #ed1c24;
    border: 1px solid #ed1c24;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  /*------------------------------------*\
      HANDLE ICON
  \*------------------------------------*/
}
/* line 95, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle i {
  display: block;
  width: 100%;
  height: 100%;
  background: no-repeat -9999px -9999px;
  cursor: pointer;
}
/* line 104, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle.ngrs-over i {
  background-position: 50% 50%;
}
/* line 109, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle.ngrs-down {
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
/* line 120, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle-min i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFNJREFUeNpiYMAEXEDsA+OwoEnKALETEHOgK2AEYhMgNkQ3DqSAB6pLAot1DExIJmAFzED8C4hvQdnIppyFKYCBp0D8CohloVafxWUqN7I3AQIMAKw6B24pOi8lAAAAAElFTkSuQmCC");
}
/* line 127, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-handle-max i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFdJREFUeNpiYEAAHyDmYkADzEhsByBWA+K3QPwJmwJjIGYBYlUgZgLi59gUwIAkEEsD8VMmBtyAkQFqJDZwAYjPAPE/dAU/gHg/ED/GpgvkTW50QYAAAwADfwrM5sqplgAAAABJRU5ErkJggg==");
}
/* line 137, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-value {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 0 0 0;
  display:block !important;
  font-size: 12px;
  color: #000;
}
/* line 145, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-value.ngrs-value-max {
  left: auto;
  right: 0;
  text-align: right;
}
/* line 152, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-handle-min-down .ngrs-value-min, .ngrs-range-slider.ngrs-handle-max-down .ngrs-value-max {
  color: #333;
}
/* line 160, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles {
  margin: 0 9px;
  position: relative;
  /*------------------------------------*\
      ATTACHED VALUE RUNNER LABELS
  \*------------------------------------*/
}
/* line 167, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles .ngrs-value {
  text-align: left;
}
/* line 172, scss/_rangeSlider.scss */
.ngrs-range-slider .ngrs-attached-handles .ngrs-value > div {
  margin: 0 0 0 -50%;
}
/* line 181, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical {
  width: 28px;
  margin: 10px auto;
  /*------------------------------------*\
      RUNNER
  \*------------------------------------*/
  /*------------------------------------*\
      ATTACHED VALUE RUNNER
  \*------------------------------------*/
  /*------------------------------------*\
      JOIN
  \*------------------------------------*/
  /*------------------------------------*\
      HANDLE
  \*------------------------------------*/
  /*------------------------------------*\
      HANDLE SPECIFICS
  \*------------------------------------*/
  /*------------------------------------*\
      VALUE LABELS
  \*------------------------------------*/
  /*------------------------------------*\
      VERTICAL LEFT SLIDER
  \*------------------------------------*/
  /*------------------------------------*\
      VERTICAL RIGHT SLIDER
  \*------------------------------------*/
}
/* line 189, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-runner {
  margin: 9px 0;
  height: 300px;
  width: 18px;
}
/* line 199, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value-runner.ngrs-attached-handles {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  margin: 9px 0;
}
/* line 212, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-join {
  width: 8px;
  height: auto;
  top: 0;
  bottom: 100%;
  left: 50%;
  right: auto;
  margin: 0 0 0 -4px;
}
/* line 226, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle {
  width: 100%;
  height: 18px;
  margin: -9px 0 0 0;
}
/* line 237, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle-min i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNpiYEAFPFAMB0xIbEYgdoJiRpggM5ICUyBWhZoA0vgMWYEsENsg6ZQE4ldA/AmkkguIHZGNhQKQGBfIBHcgFmTABCxALMJAMQAIMAAcNgVQJ7t7JQAAAABJRU5ErkJggg==");
}
/* line 244, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-handle-max i {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNpiYKAUMAKxDxBL4ZB/xgQk9gHxDyySILF9zEDiNxC/A2JVNAW7gfgtM5TzCYhZgFgCyr8IxNdADGZk+4BYGoi/APEBIP6PzVE8UAwHAAEGAArIDvzRFIA6AAAAAElFTkSuQmCC");
}
/* line 254, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value {
  top: 0;
  left: 100%;
  padding: 0 0 0 5px;
}
/* line 259, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-value.ngrs-value-max {
  top: auto;
  bottom: 0;
  right: auto;
  text-align: left;
}
/* line 269, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical .ngrs-attached-handles .ngrs-value > div {
  margin: -50% 0 0 0;
}
/* line 279, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-left {
  margin: 10px 0;
}
/* line 287, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right {
  margin: 10px 0 10px auto;
  /*------------------------------------*\
      VALUE LABELS
  \*------------------------------------*/
}
/* line 294, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value {
  left: auto;
  right: 100%;
  padding: 0 5px 0 0;
  text-align: right;
}
/* line 300, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value.ngrs-value-max {
  text-align: right;
}
/* line 306, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-vertical.ngrs-right .ngrs-value-runner.ngrs-attached-handles {
  left: 0;
}
/* line 318, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-focus {
  border-color: rgba(82, 168, 236, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* line 329, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled, .ngrs-range-slider.ngrs-disabled.ngrs-focus {
  border-color: #ddd;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 335, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-handle {
  background: #fff;
  border-color: #ddd;
}
/* line 339, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-handle i {
  background: none !important;
  cursor: default;
}
/* line 345, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-join {
  background: #ddd;
}
/* line 349, scss/_rangeSlider.scss */
.ngrs-range-slider.ngrs-disabled .ngrs-value {
  color: #ddd;
}

/*------------------------------------*\
    TOUCH STATE
\*------------------------------------*/
/* line 361, scss/_rangeSlider.scss */
body.ngrs-touching {
  -ms-touch-action: none;
}