﻿.carbox {
      border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.carbox:hover {
       border-bottom: 1px solid #ffb96b;
    }
.carinfo {
    float: left;
    width: 65%;
}

.carimg {
    float: left;
       width: 40%;
}

.carname {
    float: left;
    margin-left: 2%;
     padding: 7px 0;
    width: 57%;
}

.abtcar {
    display: initial;
    float: left;
    margin-left: 0;
    padding: 8px 0;
    width: 40%;
}
 .carname h2 {
        font-size:14px;
        font-weight:normal;
    }
  .abtcar p {
    color:#656565;
    margin-bottom:10px;
    }


.carimg img {
    display: table;
    padding-left: 10%;
    margin-top:10px;
}
.carclass {
    color:#7a7a7a;
}

.carservs > li {
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    float: left;
    padding: 2px;
    width: 90px;
}
.carservs .brdrtnone {
    border-right:none;
}
.carservs .brdbtnone {
    border-bottom:none;
}

.carservs img {
    position: relative;
    top: 3px;right:2px;
}

.carname a {
    position: relative;
    top: 28px;
}
.driverchkot .total {
    background: #dad6ce none repeat scroll 0 0;
    color: #7a7369;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 10px 10px 0;
    text-align: right;
}

.driverchkot .total li{
    display: inline-block;
}
.driverchkot .itenaryContent {
    width:49%;margin-right:1%;
}

.inrpg {
    background: #ececec none repeat scroll 0 0;
}
.pntsbtn {
    
    float: left;
    margin-top:20px;
    margin-left: 2%;
    padding: 10px 0;
    text-align: center;
    width: 33%;
}
.schbtn {
    margin-top: 2%;
}
.licarname {
font-size:16px;color:#611f05;border-bottom:1px solid #000;margin:0 0 1%;padding: 3% 0 !important;}
.mngsrch h2 {
    cursor: pointer;
    position: relative;
}

.mngsrch h2 img {
    position: absolute;
    right: 0;
    top: 4px;
}
.pntsbtn button, .mngsrch-flds button {
    font-size: 12px;
    margin-top: 3px;
    outline: medium none;
    padding:10px 12px;
}

.pntsbtn h2 {
    font-size: 22px;
    line-height: 18px;
}

.pntsbtn p {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.mngsrch-flds .recarloc, .mngsrch-flds .drvage {
    margin:5px 0px;
}
.carcls, .rwdpnts {
    background: #fff none repeat scroll 0 0;
    padding: 0 15px 12px;
    margin-bottom:20px;
}
.carcls h2{
   color: #f26432;
    font-size: 12px;
    font-weight: 100;
    line-height: 34px;
}
.col1 {
    float: left;
    width: 58% !important;
}



.carchkout {
    text-align:center;
}
.carchkout .txtC img{
     height: 90px;
}
.checkout {
    min-height: 510px;
}
.bgcolGrL {
    background: #f26530 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    text-align:left;
}
.widget-srhpnl .ftr {
    padding: 2%;
}

.widget-srhpnl .ftr .amt {
    float: right;
    font-weight: bold;
    margin-left: 3px;
    text-align: left;
}


.carlis {
    margin-left:12px; margin-bottom:20px
}
    .carlis li {
        list-style-type: disc;
    }
.checkoutheader button {
    float: right;
    margin: 10px;
}
.checkout p{
    margin:5px 0;
}

.itenaryContent img {
    position: relative;
    top: 5px;
}
.col2 {
    float: right;
    width: 37%;
}

.col2 .flight {
    background-color: #fff;
    display:inline-block;
}
.orderSum {
    border: 1px solid;
    margin-top: 0;
    padding: 0 0 4%;
    width: 100%;
}

.orderSum {
    font-size: 14px;
}
/*.carchkout .total {
    background: #dad6ce none repeat scroll 0 0;
    color: #7a7369;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 10px 10px 0;
    text-align: center;
}*/
.orderSum h3 {
    background: #b38f55 none repeat scroll 0 0;
    border-bottom: 1px solid #000;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 15px;
    padding-left: 2%;
    padding-top: 5px;
    width: 98%;
}
/*h3 {
    line-height: 34px;
}*/
 

.shopping-list > ul {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: outside none none;
}

.shopping-list li {
    padding: 2%;clear:both;
}

/*.amt span {
    color: #1c1c1c;
}*/

.txtC {
    text-align: center !important;
}

.checkinnertxt li {
    list-style-type: disc;
}

/*.itenaryEmptyDiv {
    float: left;
    width: 3%;
}*/

 

.item-Name {
    color: #1c1c1c;
}

.shopping-list p {
    font-size: 12px;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 5px;
}
.fR {
    float: right !important;
}

.divPersonalDiv {
    background-color: #fff;
    border: 1px solid #aeaeae;
    float: left;
    min-height: 345px;
    width: 60%;
}

.passenger-block {
    padding: 2%;
}

.clr {
    clear: both;
}

.mtop2 {
    margin-top: 2%;
}

.total .point {
    color: #333;
    width: 46%;
}
.shopping-list .total .amt {
    float: left;
    text-align: left;
    width: 200px;
}
.carvchr {
    float: right;
     margin: 10px;
      width: 100%
}
.checktxt {
padding: 0 20px; 
text-align: justify;
}
.checkinnertxt {
    padding:20px 0 20px 20px; 
    float: left;
}

.Car_Details_back{display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: #242424;z-index: 1001;-moz-opacity: .8;	opacity: .8;	filter: alpha(opacity=80);	overflow: hidden;}
.Car_Details_Cotent{display: block;	position: fixed;top: 6%;left: 20%;width: 60%;height: 510px;	background-color: transparent;	z-index: 2147483744;color: #000;border-radius: 2px;	padding: 0;}
.hidecontent{display: none;	float: left;width: 100%;margin-bottom: 2%;}
.otherInfo_upperdiv{float: left;width: 99%;	background-color: #F5F4F2;height:500px;overflow:scroll;overflow-x:hidden;border:5px solid #fff;margin: 0 0 1%;}
.rentalInfo_div{float: left;width: 95%;	clear: both;padding: 1%;}




.pntsbtn .button, .mngsrch-flds .button {
    font-size: 12px;
    margin: auto;
    outline: medium none;
    padding: 10px 20px;
    width: 80px;
}

.ckt-col2 {
}


.ftlimgnm {
    float: left;
    width: 58%;
}

@media screen and (max-width:600px) {
    #mobcarinfo .frt {
    float: left;
    width: 50%;padding:10px 0px;
}
     h2 {
    font-size: 15px;
}
    .pntsbtn {
        margin: 15px 2% 0;
        width: 96%;
    }

        .pntsbtn .button {
            /*width: 100%;*/
            padding: 10px;
        }
    .carinfo {
          width:100%;
        float:none;
    }
    .carservs > li {
    padding: 1%;
    width: 30%;
}
}


@media screen and (min-width:800px) and (max-width:1200px) {
    .carinfo {
        width: 90%;
    }
}


@media screen and (max-width:400px) {
  
        .dpnts {
        float:none;
        margin-bottom:10px;
        }
        .usrched .frt {
            padding:10px 6%;
        }

        .usrched li {
        display: inline-table;
        border-bottom: 1px solid #ccc;
        border-right: medium none;
        width: 88%;
        }
        .usrched li {
         padding: 10px 6%;}
    .carimg, .carname, .abtcar, .ftlimgnm  {
        width:100%;
        float:none;
        text-align:center;
    }
   
}

@media screen and (max-width:1000px) {
    .carname a {
        position: static;
    }
     .carservs > li {
       padding: 1%;
    width: 30%;
    border:1px solid #666 !important;
    }
}



.dpnts {
    float: left;
}

.pntsbtn .pnts {
    color: #fb8903;
    display: inline-table;
    font-size: 20px;
    vertical-align: middle;
}

.pntsbtn li {
    display: inline-table;
    font-size: 11px;
    margin-right: 5px;
    vertical-align: middle;
}

.dbtns {
    float: right;
}

.carcls li {
    padding: 3px 0;
}
.rfnsrch h3 {
    
    color: #3a3a3a;
    font-size: 16px;
    margin-top:15px;
     margin-bottom: 15px;
}
 
.carcls h3{
   color: #f26432;
    font-size: 12px;
    font-weight: 100;
    line-height: 34px;
}




.cktinputbg select {
    width: 100% !important;
}
.checkoutheader {
    margin: 1% 0;
    background-color: #fff;
    float: left;
    border: 1px solid #333;
    margin-bottom: 10px;width:100%;
}

    .checkoutheader h1 {
        background: #333 none repeat scroll 0 0;
        border-bottom: 1px solid #e5e5e5;
        color: #fff;
        font-size: 16px;
        font-weight: normal;
        line-height: normal;
        margin: 0 0 15px;
        padding: 1%;
        width: 98%;
    }

.fltchkot .cktinputs li {
    float: left;
    margin-bottom: 20px;
    margin-right: 3%;
    width: 30%;
}

.checkoutheader input[type="text"], .checkoutheader select ,.checkoutheader textarea{
    border: 1px solid #666;
    font-size: 13px;
    /*margin-bottom: 8px;*/
    margin-bottom: 0;
    padding: 4%;
    text-align: left;
    width: 90%;
}
.passenger-block {
    border: 1px dashed #999;
    margin: 0 20px 20px;
    padding: 20px 10px 20px 20px;
}

    .passenger-block hr {
        margin-bottom: 40px;
    }
    .cktinputs label {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 3px;
}

.cktinputs li {
    display: inline-block;
    margin: 1% 1% 0 0;
    width: 30%;
}

.Flight_Ticket_holder {
    margin-bottom: 20px;
}
.col-3.fR {
    text-align: right;
}
.ValidationDiv
{
    float: left;
    width: 90%;
    margin-left: 1%;
    height: auto;
    padding: 16px 0 2px 0;
    color: #FF0000;
    background-color: transparent;
    font-size: 12px;
}
