/*=====================================================================
  Selectric
======================================================================*/
/*@media screen and (min-width:240px) and (max-device-width :420px), screen and (max-width:420px)*/
@media screen and (min-width:200px) and (max-width:599px)
{

    .selectric .label
    {
        font-size:12px!important;
        /* font-size: 4vw !important;         margin-top: 1.6vw !important;*/
        margin: 0px 0px 0px 0px !important;
    }
    .selectric
    {
        /*width: 90%; height: 8vw!important;*/
    }

    .selectric .button
    {
        background-position: 0vw 0vw !important;
        position: absolute !important;
        margin-left: 80%;
        margin-top: 0% !important;
        left: auto !important;
    }
}

/*@media screen and (min-width:421px) and (max-device-width :768px), screen and (max-width:768px)*/
@media screen and (min-width:600px) and (max-width:1024px)
{
    .selectric .label
    {
        /*font-size: 2vw ;         margin-top:1.2vw!important;*/
    }
    .selectric
    {
        /*height: 2.9vw;*/
    }
}

/*@media only screen and (min-width:769px) and (max-device-width: 1366px) and (orientation:landscape)*/
@media only screen and (min-width:769px) and (orientation:landscape)
{
    .selectric .label
    {
        /*padding-top: 4px !important; 		font-size: 1vw !important;*/
        text-align: left;
    }
    .selectric
    {
        /* width: 95%;height: 2.7vw !important;*/
    }
}

.selectric .label
{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 20px 0 5px;
    color: #444;
    min-height: 18px;
    font-size:13px;
}


.selectricWrapper
{
    position: relative;
    cursor: pointer;
    width: 100%;
}

.selectricDisabled
{
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectricOpen
{
    z-index: 9999;
}

.selectricOpen .selectricItems
{
    display: block;
}

.selectricHideSelect
{
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
}

.selectricHideSelect select
{
    position: absolute;
    left: -100%;
    display: none;
}

.selectricInput
{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    _font: 0/0 a;
    background: none !important;
}

.selectricTempShow
{
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}


.selectricOpen .selectric
{
    border-color: #CCC;
    background: #F0F0F0;
    z-index: 9999;
    width: 100% !important;
}

.selectric
{
    position: relative; /*background-color: #f6f8fb;     border-bottom-color: #f6f8fb;     border-bottom-style: solid;     border-color: #c1c3c6;     border-width: medium;     width: 85%;     height: 4.5vw;     border: 1px solid #c1c3c6;*/
    text-align:left;
    padding: 10px 6px 10px 2px;
    background: #fff;
}


.selectric .button
{
    display: block;
    margin-left: 80%;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 20px;
    color: transparent;
    text-align: center; /* IE Fix */ /* *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;*/
    background-color: transparent;
    background-image: url('../Images/Ico_Dropdown.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/*.selectric .button:after
{
    content: " ";
    background: url("../Images/Ico_Dropdown.png") no-repeat!important;
    background-position: 0.5vw 0.05vw;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0; /*border: 4px solid transparent;   border-top-color: #BBB;   border-bottom: none;s
    background-position-y: center !important;
}*/

.selectricHover .selectric
{
    border-color: transparent;
}

.selectricHover .selectric .button
{
    background: url("../Images/Ico_Dropdown.png") no-repeat scroll no-repeat;
}

.selectricHover .selectric .button:after
{
    border-top-color: #888;
}

/* Items box */
.selectricItems
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #F9F9F9;
    border: 1px solid #CCC;
    z-index: -1;
    box-shadow: 0 0 10px -6px;
}
.selectricItems .selectricScroll
{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.selectricAbove .selectricItems
{
    top: auto;
    bottom: 100%;
}
.selectricItems ul, .selectricItems li
{
    list-style: none;
    padding: 0;
    margin: 0!important;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
}
.selectricItems li
{
    display: block!important;
    padding: 3px!important;
    color: #666!important;
    text-align: left;
    cursor: pointer;
    width: 100%!important;
    overflow-x: inherit!important;
}
.selectricItems li.selected
{
    background: #EFEFEF;
    color: #444;
    border-top-color: #E0E0E0;
}
.selectricItems li:hover,select option:hover
{
    background: #e30e27;
    color: #fff!important;
}
.selectricItems li.disabled
{
    background: #F5F5F5;
    color: #BBB;
    border-top-color: #FAFAFA;
    cursor: default;
}
