﻿.content {
    margin-top: 88px;
    background: #ececec;
    min-height: 500px;
}

/*.pgcol1 {
  background: #fff none repeat scroll 0 0;
    float: left;
    padding: 50px 2%;
    width: 70%;
}*/
.pgcol2 {
    /*width:30%;*/
    float: right;
}

.errUCred {
    float: left;
    color: #ff0000;
}

.usrched li {
    border-right: 1px solid #666;
    display: inline-table;
    padding: 0 3% 10px;
    color: #666;
    vertical-align: middle;
}

.usrched .frt {
    padding-left: 3%;
}

.usrched .lst {
    padding-right: 0px;
    border-right: none;
}

.us-from, .us-to, .us-arr {
    float: left;
}

.us-arr {
    margin: 24px 15px 0;
}

.us-from h1, .us-to h1 {
    font-size: 34px;
    color: #595959;
    font-weight: 100;
}

.us-from p, .us-to p {
}


.fltbox li {
    display: inline-table;
    margin-right: 1%;
    vertical-align: middle;
    width: 22%;
}

.airlines li {
    display: inline-table;
    vertical-align: middle;
    margin-right: 0%;
    width: auto;
}

.airlines img {
    height: auto;
    padding: 5px;
    width: 30px;
}

.depart, .arrive {
    font-size: 18px;
}

    .depart span, .arrive span {
        font-size: 12px;
        color: #666;
    }

.fltbox .btn {
    text-align: center;
    margin-right: 0;
}

.btn .lstli {
    margin-right: 0px;
}

.points li {
    margin-right: 5px;
    font-size: 11px;
    line-height: 10px;
}

.points .pnts {
    color: #fb8903;
    font-size: 18px;
}


.btn .button {
    float: none;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.btn a {
    text-decoration: underline;
}

.fltbox {
    border-bottom: 1px solid #ccc;
    padding: 18px 0;
    float: left;
    width: 100%;
}

.upper {
    width: 63%;
    float: left;
}

.airlines {
    width: 15% !important;
}

.points {
    width: 19% !important;
}

.duration {
    width: 27% !important;
}

.fltbox .btn {
    width: 15% !important;
}

.flt-details {
    background: #fff none repeat scroll 0 0;
    border: 4px solid #333;
    float: left;
    width: 99%;
}


.flt-details-H {
    /*background:#611f05 ;
    border-bottom: 1px solid #cccccc;
    height: 23px;*/
    background: #333 none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
}


.flt-layover {
    background: #ccc none repeat scroll 0 0;
    border-right: 1px solid #ccc;
    clear: both;
    color: #222;
    padding: 5px 7px;
    text-align: left;
    text-transform: uppercase;
}


.flt-details-L, .car-details-L {
    float: left;
    margin: 0;
    width: 100%;
}


.flt-details-H .air-logo {
    float: left;
    font-size: 12px;
    padding: 0.5% 1%;
    position: relative;
    vertical-align: middle;
    width: 19%;
}

.air-logo {
    float: left;
    padding: 1%;
    position: relative;
    vertical-align: middle;
    width: 5%;
}


.flt-details-H .stopDtail-1, .flt-details-H .total-hrs {
    font-size: 12px;
    padding: 0.5% 1%;
}

.stopDtail-1 {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: left;
    padding: 1%;
    position: relative;
    vertical-align: middle;
    width: 32%;
}


.total-hrs {
    float: left;
    font-size: 1em;
    padding: 1%;
    text-align: center;
    vertical-align: middle;
    width: 16%;
}


.flt-details-H .stopDtail-2 {
    font-size: 12px;
    padding: 0.5% 1%;
}

.stopDtail-2 {
    border-left: 1px solid #ccc;
    float: left;
    padding: 1%;
    position: relative;
    vertical-align: middle;
    width: 32%;
}

.flt-details-L .flightinfo > div {
    min-height: 60px;
}

.air-logo {
    float: left;
    padding: 1%;
    position: relative;
    vertical-align: middle;
    width: 5%;
}


.flt-details-L .flightinfo > div {
    min-height: 60px;
}

.flt-code {
    float: left;
    padding: 0.5% 1%;
    text-transform: uppercase;
    vertical-align: middle;
    width: 12%;
}

.stopCity {
    display: table-cell;
    float: left;
    text-align: center;
    width: 100%;
}


.stopCode {
    display: table-cell;
    float: left;
    color: #727272;
    padding: 0;
    text-align: center;
    width: 100%;
}

.flt-details-L .flightinfo > div {
    min-height: 60px;
}

.total-hrs {
    float: left;
    text-align: center;
    vertical-align: middle;
    width: 8%;
}

.total-hrs {
    float: left;
    padding: 1%;
    text-align: center;
    vertical-align: middle;
    width: 8%;
}



.inrpg {
    background: #ececec none repeat scroll 0 0;
}

.rwdpnts, .stops {
    background: #fff none repeat scroll 0 0;
    padding: 0 15px 12px;
    margin-bottom: 20px;
}

.tldurtn, .deptm, .arrtm {
    background: #fff none repeat scroll 0 0;
    padding: 5px 15px 38px;
    margin-bottom: 20px;
}

.rfnsrch h3 {
    font-size: 12px;
    color: #f26432;
    font-weight: 100;
    line-height: 34px;
}

.rfnhdr h3 {
    line-height: 34px;
    color: #3a3a3a;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.rfnsrch li {
    padding: 3px 0;
}

.checkoutheader {
    margin: 10px;
    background-color: #fff;
    float: left;
    border: 1px solid #333;
    margin-bottom: 10px;
}

    .checkoutheader h1 {
        background: #333 none repeat scroll 0 0;
        border-bottom: 1px solid #e5e5e5;
        color: #fff;
        font-size: 16px;
        font-weight: normal;
        line-height: normal;
        margin: 0 0 15px;
        padding: 1%;
        width: 98%;
    }

.fltchkot .cktinputs li {
    float: left;
    margin-bottom: 20px;
    margin-right: 3%;
    width: 30%;
}

.passenger-block h2 {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}


.passenger-block .title {
    float: left;
    width: 20%;
}

.passenger-block .name {
    float: left;
    width: 32%;
}

.passenger-block {
    border: 1px dashed #999;
    margin: 0 20px 20px;
    padding: 20px 10px 20px 20px;
}

    .passenger-block hr {
        margin-bottom: 40px;
    }
/*label, legend {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
}*/

.checkoutheader input[type="text"], .checkoutheader select {
    border: 1px solid #666;
    font-size: 13px;
    /*margin-bottom: 8px;*/
    margin-bottom: 0;
    padding: 5px 3%;
    text-align: left;
    width: 90%;
}

.Flight_Ticket_holder {
    margin-bottom: 20px;
}

.passenger-block .other {
    float: left;
    width: 28%;
}

/*Checkout Starts*/
.chkpgs {
    margin-top: 130px;
    background: #fff;
    min-height: 430px;
    margin-bottom: 50px;
}

    .chkpgs h1 {
        background: #b38f55;
        padding: 7px 2%;
        width: 96%;
        font-size: 16px;
        color: #fff;
        font-family: 'Conv_DejaVuSerifCondensed';
    }

.ckt-col1 {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 30px 0 30px 4%;
    width: 55%;
}

.ckt-col2 {
    background: #f8f5f0 none repeat scroll 0 0;
    box-shadow: 1px 3px 4px #999;
    float: left;
    margin-left: 5%;
    margin-top: 30px;
    min-height: 200px;
    width: 32%;
}

#lngdetail .label {
    float: left;
    padding: 0 0 0 5%;
    width: 23%;
}

#lngdetail .sep {
    float: left;
    width: 4%;
}

#lngdetail .result {
    float: left;
    width: 65%;
}

#lngdetail li {
    margin-bottom: 2%;
    width: 100%;
    float: left;
    font-size: 13px;
}

.ckt-col2 h3 {
    background: #ece8e1;
    padding: 10px 3%;
    font-size: 14px;
    width: 94%;
    color: #7a7369;
    line-height: normal;
    margin-bottom: 20px;
    font-weight: normal;
}

.ckt-col2 .edit {
    float: right;
}

.ckt-col2 .cont {
    margin: 0 15px;
}

.chkcarcont {
    padding: 3%;
}

    .chkcarcont li {
        float: left;
        width: 49%;
        margin-right: 2%;
    }

.chkcarimg li {
    float: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

.cktinputs input, .cktinputs textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    box-shadow: 1px 1px 4px #ccc inset;
    padding: 10px 3%;
    width: 94%;
}

.cktinputbg select {
    width: 97%;
}

.cktinputs .chkemail {
    width: 70%;
}

.cktinputs label {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 3px;
}

.cktinputs li {
    display: inline-block;
    /*margin-bottom: 30px;*/
    /*margin-right: 2%;*/
    width: 19%;
}

.driverchkot .cktinputs li {
    float: left;
    margin-bottom: 10px;
    margin-right: 2%;
    width: 30%;
}

.shopping-list > ul {
    margin: 0;
    padding: 0;
}

h3 {
    line-height: 34px;
}

.flight .shopping-list li {
    padding: 3% 0% 5%;
}

.shopping-list li {
    /*border-bottom: 1px solid #333;*/
}

.edit a {
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: lowercase;
}

.flight .col-1 {
    float: left;
    margin-top: 7px;
    text-align: center;
    width: 15%;
    margin-right: 3px;
}

.shopping-list h2 {
    background: #e1e1e1 none repeat scroll 0 0;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding: 7px;
}

.flight .col-2, .flight .col-4 {
    float: left;
    width: 29%;
}

    .flight .col-2 .item-Name, .flight .col-4 .item-Name, .flight .col-3 {
        color: #333;
        font-size: 14px;
    }

    .flight .col-2 .item-Name, .flight .col-4 .item-Name, .flight .col-3 {
        line-height: 21px;
        margin-top: 7px;
    }

.shopping-list .col-3 {
    float: left;
    text-align: center;
    width: 12%;
}

.flight .col-2 .item-Name, .flight .col-4 .item-Name, .flight .col-3 {
    line-height: 21px;
}

.shopping-list p {
    color: #777;
    font-size: 11px;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 5px;
}

.flight .col-2, .flight .col-4 {
    float: left;
    width: 29%;
}

.flight .col-4 {
    margin-left: 13%;
}



.flight .shopping-list .col-1 img {
    height: 35px;
}

.flight .col-1 {
    text-align: center;
}


.flight .shopping-list .total {
    font-size: 16px;
    font-weight: 100;
    padding: 2%;
}

.bgcolGrL {
    background: #f26530 none repeat scroll 0 0;
}

.total .ftr {
    color: #fff;
    font-weight: 500;
}

.flight .shopping-list li {
    padding: 3% 2% 5%;
}

.shopping-list .total .amt {
    float: right;
    margin-left: 3px;
    font-weight: bold;
    text-align: left;
}

.checkoutheader .button {
    margin: 20px;
    width: 80%;
}

.shopping-list .total .txt {
    float: right;
    text-align: right;
    width: 60px;
}

.col-3.fR {
    float: right;
}
/*Checkout Ends*/





@media screen and (min-width:450px) and (max-width:700px) {
    .flightlists {
    border: 1px solid #ccc;
    float: left;
    margin: 1%;
    padding: 2%;
    width: 43%;

}
}
@media screen and (min-width:800px) and (max-width:1200px) {
       .flightlists {
    border: 1px solid #ccc;
    float: left;
    margin: 1%;
    padding: 2%;
    width: 43%;

}
    .inrpg .widget-prfl {
    width:100%;}
         .upper {
        float: left;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
       .fltbox li {
        width: 100% !important;
        display: inline-table;
        line-height:normal;
    }

    .fltbox .btn {
        width: 100% !important;
    }

    .points {
        width: 100% !important;
        text-align: center;
    }
}

@media screen and (max-width:700px) {
      .upper {
        float: left;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
       .fltbox li {
        width: 100% !important;
        display: inline-table;
        line-height:normal;
    }

    .fltbox .btn {
        width: 100% !important;
    }

    .points {
        width: 100% !important;
        text-align: center;
    }


}

@media screen and (max-width:400px) {
    .dpnts {
        float: none;
        margin-bottom: 10px;
    }

    .usrched .frt {
        padding: 10px 6%;
    }

    .usrched li {
        display: inline-table;
        border-bottom: 1px solid #ccc;
        border-right: medium none;
        width: 88%;
    }

    .usrched li {
        padding: 10px 6%;
    }

  

   
        .points li {
            width: auto !important;
        }

        .points .pnts {
            font-size: 24px;
        }

    .cktinputs li {
        display: inline-block;
        /*margin-bottom: 30px;*/
        /*margin-right: 2%;*/
        width: 98%;
    }

    .cktinputs .chkemail {
        width: 98%;
    }
}
.ValidationDiv
{
    float: left;
    width: 90%;
    margin-left: 1%;
    height: auto;
    padding: 16px 0 2px 0;
    color: #FF0000;
    background-color: transparent;
    font-size: 12px;
}
