﻿.mngsrch-flds li .mngdesti {
width:96%;
}
.rwdpnts {
        margin-top: 20px;
}
.htlchain {
    margin-top: 20px;
}
.rwdpnts img{
    position:relative;
    top:7px;
}
.rwdpnts li {
    padding:3px 0;
}
.pgcol1 {
    float: right;
    width: 70%;
}
.widget-prfl{
        padding: 11px;
}
.pgcol2 {
    width:29%;
    float: left;
    margin-top: 25px;
    border: #c7c7c7 solid 1px;
}
.pgcontent {
width:80%;margin:0 auto;
margin-top: 30px;
}
.pgFltcol1 {
  background: #fff none repeat scroll 0 0;
    float: right;
    padding: 50px 2%;
    width: 70%;
}
.pgFltcol2 {
    border: 1px solid #ddd;
    float: left;
    margin-top: 5%;
    width: 25%;
}
    .rwdpnts li input[type="checkbox"], .rwdpnts li input[type="radio"] {
    padding-left:5px;}
/*.rooms ul li{
   display: inline-block;
     margin: 0 0 5px 0%;
    width: 46%;
}*/
/*.rooms p{
    text-decoration:underline;
}*/
.rptErrorMassage {
color:#ff0000;}
.hltbox {
 border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.hltbox:hover {
     border-bottom:1px solid #ffb96b;

}
.dpnts {
     float: left;
}
.htlinfo {
    float: left;
    width: 60%;
    margin-left:1%;
   
}
.usrched li {
    border-right: 1px solid #666;
    color: #666;
    display: inline-table;
    padding: 0 6% 10px;
    vertical-align: middle;
}
.usrched .frt {
    padding-left: 3%;
}
.usrched .lst {
    border-right: medium none;
    padding-right: 0;
}
.us-from, .us-to, .us-arr {
    float: left;
}
.pgFltcol1 h1 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}
.us-arr {
    margin: 24px 15px 0;
}
p {
    font-size: 13px;
    line-height: 23px;
}
.us-from h1, .us-to h1 {
    font-size: 34px;
    font-weight: 100;
}

.pntsbtn {
    /*color: #611f05;*/
    float: left;
    /*margin-left: 2%;*/
    padding: 10px 0;
    text-align: center;
       display: inline-table;
        vertical-align: middle;
    width: 38%;
}
#fliterDetails > h3 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
    text-indent: 11px;
    text-transform: uppercase; display:none;
}  
.rwdpnts, .htlchain, .rwdpnts, .rwdpnts, .rwdpnts {
    background:#fff;
    padding:0 15px 25px;
}

.pntsbtn .button, .mngsrch-flds .button {
    font-size: 12px;
    float:right;
    outline: medium none;
    padding:10px 20px;
    width:80px;
    margin:auto;
}

.pntsbtn li {
    font-size: 11px;
    text-align:left; 
    margin-right: 5px;
    display:inline-table;
      vertical-align:middle;
}

.pntsbtn .pnts {
     vertical-align:middle;
    display:inline-table;
    font-size:20px;
    color:#ed1c24;
}
.rfnsrch h3 {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    text-transform: uppercase;
}
.mngsrch-flds .button {
    margin:0;
}
.pntsbtn h2 {
    font-size: 22px;
    line-height: 18px;
}

.pntsbtn p {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.htlimg img{
    display:table;
     /*border: 4px solid #fff;*/
     width:100%;
     cursor:pointer;
}


.htlname a {
    position: relative;
    top: 20px;
}

.htlname a img {
    position: relative;
    top: 2px;
}

.htlimgnm {
    float: left;
    width: 60%;
}
.htlimg {
    float: left;
    width:33%;
}


.htlname {
   float: left;
    margin-left: 2%;
    padding: 7px 0;
    width: 61%;
}
    .htlname h2 {
        font-size:14px;
        font-weight:normal;
        cursor:pointer;
    }
    .htlname h2:hover {
        color:#611f05;
    }
    
.abthtl {
    display: initial;
    float: left;
    margin-left: 2%;
    padding: 8px 0;
    width: 36%;
}
    .abthtl p {
    color:#656565;
    margin-bottom:10px;
    }
.htlservs li{
    display:inline-block;
    padding:0 2px;
}


.htldtsamtis {
    margin-bottom:10px;
}
.htldtls {
    margin: 0 15px 15px;
    position: relative;
}
.hltname {
    font-size:24px;
    float:left;
 
}
.htlstars {
    float:left;
    margin-left: 5px;
    margin-top: 7px;
}
.hltaddrs {
    color:#666666;
    font-size:12px;
    width: 70%;
}
 .smrhtls li .smrhtlnm {
     font-size: 13px;
    height: 16px;
    overflow: hidden;
}
.hltgall {
    /*float: left;
    width: 50%;position:relative;*/
    background: #000 none repeat scroll 0 0;
    float: left;
    height: 265px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 50%;
}
    .hltgall img {
    /*height:263px;*/width:100%;}


.htltype {
    float: left;
    margin: 0 3%;
   
    width: 44%;
}
.htltype label{
    color:#666;
}
    .htltype .button {
        width: 130px;
    }
    
.htltype .hltprice{
   margin: 35px 0 7px;
    color:#ed1c24;
    font-size:22px;
    
    font-weight:bold;
}.hltprice {
    width: 110%;
}
    .htltype .hltprice span {
        font-size:18px;
    }
    .htltype .hltprice p {
   font-size:12px;
   color:#333333;
   font-weight:normal;
  
    }
.abthtlcnt {
    margin-top:20px;
    font-size:13px;
        margin-bottom: 50px;
}
.ico-map {
    position:absolute;
    top:0px;
    right:0px;
}

.smrhtls h2 {
    font-size: 16px;
    margin: 15px 6%;
}
.smrhtls li {
   float: left;
    margin: 0 4% 15px;
    width: 40%;
}
.smrhtls ul {
    margin-left: 3%;
}
.smrhtlimg img{
    width:100%;
}
.smrhtls li p
{font-size:12px;
 line-height: 14px;
 color:#333;
}
.smrhtls li a:hover {
    text-decoration:underline;
    color:#333;
}
.smrhtls li .pnts {
    font-size:12px;
    color:#ed1c24;
    font-weight:bold;
}
.Hotel_Details_Cotent{
    display: block;
    position: fixed;
    top: 20%;
    left: 35%;
    width: 60%;
    height: 300px;
    padding: 10%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    z-index: 22222216;
    border: 10px solid #ccc;
    border-radius: 3px;
    color: #000;
    padding: 0;
}

.hidecontent {
    display:none;
}
.Closepopup_btn {
    float: right;
    width: 3%;
    position: relative;
    right: 0%;
    margin: 0;
    top: 6px;
    z-index: 22222220;
}
.black_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3d3d3d;
    z-index: 2222214;
    -moz-opacity: .8;
    opacity: .8;
    filter: alpha(opacity=80);
    overflow: hidden;
}

.amen-popup {
    float: left;
    width: 30%;
    margin: 1%;
}



.col1 {
    float: left;
    width: 58% !important;
}

.checkoutheader {
    background-color: #fff;
    border: 1px solid #86754d;
    margin-bottom: 10px;
}


.checkoutheader h1 {
    background: #b38f55 none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 15px;
    padding: 1%;
    width: 98%;
}



.nopnts {
    color:red;margin:0 0 20px 0; font-weight:bold;
}
.passenger-block h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
}

 
.passenger-block .title {
    float: left;
    width: 20%;
}
.passenger-block .name {
    float: left;
    width: 32%;
}
/*label, legend {
    display: block;
    font-size: 13px;
}*/
.checkoutheader input[type="text"], .checkoutheader select {
    border: 1px solid #666;
    color: #666;
    font-size: 13px;
    margin-bottom: 8px;
    padding: 4%;
    text-align: left;
    width: 90%;
}
.clr {
    clear: both;
}

.passenger-block .other {
    float: left;
    width: 28%;
}

.col2 {
    float: right;
    width: 37% !important;
}

.col2 .flight {
    background-color: #fff;
}
.orderSum {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #86754d #86754d -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    font-size: 16px;
    margin-top: 0;
    width: 100%;
}


.orderSum h3 {
    background: #b38f55 none repeat scroll 0 0;
    border-bottom: 1px solid #86754d;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 15px;
    padding-left: 2%;
    padding-top: 5px;
    width: 98%;
}

.orderSum {
    font-size: 16px;
}


.htlchkimg {
    float: left;
    width: 30%;

}
.htlitnry {
    border-top:1px solid #999;
    margin-top:20px;
    padding-top:20px;
}
.htlchkimg img{
    width:100%;
}
.htlchcon .htlnm{
    font-weight:bold;
}
.htlitnry .col-1{
    float:left;
    width:25%;
}
.htlitnry .col-1 p, .htlitnry .col-3 p{
    font-size:14px;
    font-weight:bold;
}
.htlitnry .col-2{
    float:left;
    width:45%;
    text-align:center;
}
.htlitnry .col-3{
    float:left;
    width:30%;
}
.htlchcon {
    float: left;
    margin-left: 5%;
    width: 65%;
}
.shopping-list > ul {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: outside none none;
}

.flight .shopping-list li {
    padding: 3% 2% 5%;
}
.flight .shopping-list li {
    padding: 3% 2% 5%;
}
.shopping-list li {
    border-bottom: 1px solid #86754d;
}

.flight .col-1 {
    text-align: center;
}
.flight .col-1 {
    float: left;
    margin-top: 7px;
    text-align: center;
    width: 15%;
}

.flight .col-2 .item-Name, .flight .col-4 .item-Name, .flight .col-3 {
    line-height: 21px;
}
.shopping-list .col-3 {
    float: left;
    text-align: center;
    width: 12%;
}
.flight .col-2 .item-Name, .flight .col-4 .item-Name, .flight .col-3 {
    line-height: 21px;
    margin-top: 7px;
}
.flight .col-2 .item-Name, .flight .col-4 .item-Name, .flight .col-3 {
    line-height: 21px;
    margin-top: 7px;
}

.col2 {
    float: right;
    width: 37% !important;
}
.col2 .flight {
    background-color: #fff;
}
.orderSum {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #86754d #86754d -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    font-size: 16px;
    margin-top: 0;
    width: 100%;
}

.orderSum h3 {
    background: #b38f55 none repeat scroll 0 0;
    border-bottom: 1px solid #86754d;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 15px;
    padding-left: 2%;
    padding-top: 5px;
    width: 98%;
}
 
.shopping-list > ul {
    margin: 0;
    padding: 0;
}
.shopping-list li {
    border-bottom: 1px solid #86754d;
}
.flight .shopping-list .total {
    color: #000;
    font-size: 16px;
    font-weight: 100;
    padding: 2%;
}

.shopping-list .total .amt {
    float: right;
    margin-left: 3px;
    text-align: left;
}

.shopping-list .total .txt {
    float: right;
    text-align: right;
    width: 60px;
}
.bgcolGrL {
    background: #ed1c24 none repeat scroll 0 0;
    font-size:16px;
    color:#fff;
    margin-top:10px;
}
.widget-srhpnl .ftr {
    padding:2%;
}
.widget-srhpnl {
        background-color: #fff;
}
.widget-srhpnl h3 {
            background: #333 none repeat scroll 0 0;
        border-bottom: 1px solid #e5e5e5;
        color: #fff;
        font-size: 16px;
        line-height: normal;
        cursor:pointer;
        padding: 10px;
}
.edit a{
color:#fff;cursor:pointer;float:right
}
.widget-srhpnl .ftr .amt {
    float: right;
    font-weight: bold;
    margin-left: 3px;
    text-align: left;
}
.flight .col-2, .flight .col-4 {
    float: left;
    width: 29%;
}
.flight .col-2, .flight .col-4 {
    float: left;
    width: 29%;
}

.flight .col-2 .item-Name, .flight .col-4 .item-Name, .flight .col-3 {
    line-height: 21px;
}
.shopping-list .col-3 {
    float: left;
    text-align: center;
    width: 12%;
}
.flight .col-2 .item-Name, .flight .col-4 .item-Name, .flight .col-3 {
    line-height: 21px;
    margin-top: 7px;
}
.flight .col-2 .item-Name, .flight .col-4 .item-Name, .flight .col-3 {
    line-height: 21px;
    margin-top: 7px;
}

.flight .col-4 {
    margin-left: 13%;
}
.flight .col-2, .flight .col-4 {
    float: left;
    width: 29%;
}
.flight .col-2, .flight .col-4 {
    float: left;
    width: 29%;
}

.flight .shopping-list .col-1 img {
    height: 35px;
}

.shopping-list p {
    color: #666;
    font-size: 12px;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 5px;
}

 

.htldtlspg .pgcol1{
    background:#fff;
}




/*Chectout Pages Starts*/

.htlchkot {
}


.htlchkot .cktinputs li {
    float: left;
    margin-bottom: 20px;
    margin-right: 3%;
    width: 30%;
}
    .htlchkot .cktinputs input[type="checkbox"] {
    width:auto;}


.sperqts {
    margin:1% 0 5% 0;float:left;
}


.htlchkot .total {
    background: #dad6ce none repeat scroll 0 0;
    color: #7a7369;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 10px 10px 0;
    text-align: right;
}

.htlchkot .total li {
    display: inline-block;
}

.btnPre {
    position: absolute;
    cursor: pointer;
    left: 0px;
    width: 9%;
    font-size: 14px;
    padding: 10px;
    top: 42%;
    background-color: #000;
    opacity: 0.7;
    color: #fff;
}

.btnNext {
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 9%;
    font-size: 14px;
    padding: 10px;
    top: 42%;
    background-color: #000;
    opacity: 0.7;
    color: #fff;
    text-align: right;
}
.slrmty {
    background:#efefef;
    padding: 9px 3%;
    width: 94%;
}
.slrmty select{
    background-color:transparent;
    border:none;
    padding:0;
    width:100%;
}
    .slrmty select option {
   padding:4px 0; }

@media screen and (max-width:900px) {
    .htlimg {

    width:37%;}

    .pntsbtn .button{
        width:auto;
    }
}
@media screen and (max-width:600px) {
    .hltgall {
    width:100%;}
    .htltype {
    width:100%;
    margin:10px 0 0 0;
    }
        .htltype .button {
        width:auto;}
}
@media screen and (max-width:700px) {
    htldtlspg .pgcol2 {
        margin: 10px 3%;
        width: 94%;
    }
    .hltname, .htlstars {
   width:85%;
   float:none;
    }
    .hltaddrs {
    width:95%;}
}
@media screen and (max-width:600px) {
        .dpnts {
        float:none;
        margin-bottom:10px;
        }
        .usrched .frt {
            padding:10px 6%;
        }

        /*/*.usrched li {
        display: inline-table;
        border-bottom: 1px solid #ccc;
        border-right: medium none;
        width: 88%;
        }*/
        .usrched li {
         padding: 10px 6%;}




    .htlchkot .cktinputs .email {
    width:99%;}
    .htlchkot .cktinputs li {
        width:99%;
    }
    .pntsbtn {
         margin: 0 2%;
    width: 96%;
    padding-top:0px;
    }
    .htlinfo {
    width:99%;}
        .pntsbtn .button {
        width:100%;
        padding:10px 0;
        }
    .htlimg {
        width: 100%;
        text-align:center;
    }
    .htlname {
    width:100%;   text-align:center;}
    .abthtl {
    width:97%;}
    .htlimgnm {
    width:100%;}
    .htlimg img {
    display:inline;
    width:auto;
    }
}

@media screen and (min-width:400px) and (max-width:600px) {
    /*.htlimgnm {
    width:50%;}*/
   .htlname {
    width:95%;}
    .abthtl {
   width:55%; }
    .htlimgnm {
    width:40%;
    }
}

@media screen and (min-width:800px) and (max-width:1100px) {
      .abthtl {
   width:55%; }
    .htlimgnm {
    width:40%;
    }
     .dpnts {
        float:none;
        margin-bottom:10px;
        }
        .usrched .frt {
            padding:10px 6%;
        }

        .usrched li {
        display: inline-table;
        border-bottom: 1px solid #ccc;
        border-right: medium none;
        width: 88%;
        }
        .usrched li {
         padding: 10px 6%;}




    .htlchkot .cktinputs .email {
    width:99%;}
    .htlchkot .cktinputs li {
        width:99%;
    }
    .pntsbtn {
         margin: 0 2%;
    width: 96%;
    padding-top:0px;
    }
    .htlinfo {
    width:99%;}
        .pntsbtn .button {
        width:100%;
        padding:10px 0;
        }
    .htlimg {
        width: 100%;
        text-align:center;
    }
    .htlname {
    width:100%;   text-align:center;}
   
    
    .htlimg img {
    display:inline;
    width:auto;
    }
}


@media screen and (min-width:600px) and (max-width:800px) {
    .htlitnry .col-1 {
        text-align: center;
    width: 100%;
    float: none;
    }
    
.htlitnry .col-2 {
 float: none;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

.htlitnry .col-3 {
 float: none;
    text-align: center;
    width: 100%;
}

.htlchkimg {
 float: none;
    width: 100%;
}

.htlchcon {
    float: none;
    margin-left: 0%;
    width: 100%;
}
}

.inrpg {
    
}
.breadcrumbs {
    display:none;
}

.range {
    margin-top: 10px;
    padding: 0 10px 50px;
}
.edit > a {
    font-size:12px;
    text-decoration:underline;
    text-transform:lowercase;
}

.widget-srhpnl .cont {
    margin-top:20px;
}
.checkoutheader {
    margin: 10px;
    background-color: #fff;
    float: left;
    border: 1px solid #c7c7c7;
    margin-bottom: 10px;
}

    .checkoutheader h1 {
        background: #333 none repeat scroll 0 0;
        border-bottom: 1px solid #e5e5e5;
        color: #fff;
        font-size: 16px;
        font-weight: normal;
        line-height: normal;
        margin: 0 0 15px;
        padding: 1%;
        width: 98%;
    }

.fltchkot .cktinputs li {
    float: left;
    margin-bottom: 20px;
    margin-right: 3%;
    width: 30%;
}

.checkoutheader input[type="text"], .checkoutheader select ,.checkoutheader textarea{
    border: 1px solid #666;
    font-size: 13px;
    /*margin-bottom: 8px;*/
    margin-bottom: 0;
    padding: 4%;
    text-align: left;
    width: 90%;
}
.passenger-block {
    /*border: 1px dashed #999;*/
    margin: 0 20px 20px;
    padding: 7px 10px 20px 0px;
}

    .passenger-block hr {
        margin-bottom: 40px;
    }
    .cktinputs label {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 3px;
}

.cktinputs li {
    display: inline-block;
    margin: 1% 0;
    width: 24%;
}

.Flight_Ticket_holder {
    margin-bottom: 20px;
}
.col-3.fR {
    text-align: right;
}
.ValidationDiv
{
    float: left;
    width: 90%;
    margin-left: 1%;
    height: auto;
    padding: 16px 0 2px 0;
    color: #FF0000;
    background-color: transparent;
    font-size: 12px;
}
