﻿.inrpg {
    
}

.pgcontent {
    margin: 0 auto;
    width: 80%;
}


.widget-srhpnl {
    background-color: #fff;
	
	 border: 1px solid #999;
    float: left;
    margin-top: 28px;
    padding: 3%;
    width: 27%;
}
.widget-srhpnl h3 {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    padding: 10px;
}

.edit a {
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: initial;
	color: #fff;
    cursor: pointer;
    float: right;
}

.shopping-list > ul {
    margin: 0;
    padding: 0;
}

.shopping-list li {
    padding: 3% 2% 5%;
}

.shopping-list h2 {
    background: #e1e1e1 none repeat scroll 0 0;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding: 7px;
}
.shopping-list .col-3 {
    float: left;
    text-align: center;
    width: 12%;
	margin-top: 7px;
}
.flight .col-1 {
    float: left;
    margin-right: 3px;
    margin-top: 7px;
    width: 15%;
}

.flight .col-2, .flight .col-4 {
    float: left;
    width: 29%;
}

.flight .shopping-list .col-1 img {
    height: 35px;
}

.shopping-list p {
    color: #777;
    font-size: 11px;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 5px;
}


.checkoutheader {
    background-color: #fff;
    border: 1px solid #999;
    float: left;
    margin-left: 5%;
    margin-top: 28px;
    width: 60%
}



.checkoutheader h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding-left: 35px;
    padding-right: 26px;
    padding-top: 26px;
    width: 98%;
}

.cktinputbg select {
    width: 97%!important;
}
	

.passenger-block {
    margin: 0 20px 20px;
    padding: 20px 10px 20px 20px;
}

.passenger-block h2 {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}
.checkoutheader .btnRed {
    background-color: #ed1c24;
    background-image: url("../images/ico-rtarow1.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
}

.Flight_Ticket_holder {
    margin-bottom: 0px;
    float:left;
}

.passenger-block label {
	width:100%;
    color: #666;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
	float:left;
}

.cktinputbg select {
    width: 97%;
}
.cktinputs select {
    padding: 8px 3% !important;
}
.passenger-block input[type="text"], .passenger-block input[type="password"], .passenger-block textarea, .passenger-block select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    padding: 10px 3%;
	width: 90%;
}
.passenger-block input[type="text"], .passenger-block select {
    font-size: 13px;
    margin-bottom: 0;
    text-align: left;
}

.flight .col-4 {
    margin-left: 13%;
}

.passenger-block li {
    float: left;
    width: 32%;
}

.item-Name {
    margin-top: 3px;
}


.ftr > span {
    color: #333;
}
.amt > span {
    color: #ed1c24;
    font-size: 24px;
}
.total .ftr {
    margin-top: 15px;
    text-align: left;
}

/*review & confirm*/
.reviewConfirm {
    background-color: #fff;
    border: 1px solid #999;
    float: left;
    margin-left: 5%;
    margin-top: 28px;
    padding-bottom: 25px;
}
 .reviewConfirm table { font-size: 13px; text-align: left; border-collapse: collapse;
    border-spacing: 0;}
.reviewConfirm  table tr td { border: 1px solid #b6b6b6; padding: 5px; }

.reviewConfirm  th {
    background: #eee ; border: 1px solid #b6b6b6; padding: 5px;
}

.pass-details > h3 {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 5px;
}

.reviewConfirm > h1 {
    font-size: 24px;
    padding: 10px 0 0 20px;
}

.mt15.checkboxs input {
    margin-right: 10px;
}
.btnRed, .btnRed:hover {
    background-color: #ed1c24;
    background-image: url("../images/ico-rtarow1.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
}

.btnBlk, .btnBlk:hover {
    background-color: #000;
	display: inline-block;
    background-image: url("../images/ico-rtarow1.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
}

/*Select css*/
.tourSection .selectdiv {
    float: left;
    position: relative;
    width: 97%;
    min-width: 97%;
}

.tourSection .selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #999;
    right: 10px;
    top: -5px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 0px solid #000;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.tourSection .selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  height: 40px;
  float: right;
  margin: 0px;
  padding: 5px 10px 6px;
  line-height: 1.75;
  color: #000;
  border: 1px solid #999;
  background-color: #fff;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}

/*Country select*/
select.countSel {
  border:0px;
  outline:0px;
}
.countSel {
    float: right;
}

.countSel .selectdiv {
    float: right;
    position: relative;
    width: 90%;
}

.countSel .selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #ed1c24;
    right: 10px;
    top: -5px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 0px solid #000;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.countSel .selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  height: 37px;
  font-size:16px;
  float: right;
  margin: 0px;
  padding: 5px 0 6px 10px;
  line-height: 1.75;
  color: #ed1c24;
  border: 0px;
  background-color: #fff;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}
.ErrorMsgContainer #CP_lblError
{
    display: block;
    padding: 8px 16px;
}
.passenger_align
{
    width: 93%;
    float: left;
    padding: 0px 0px 0px 33px;
    margin: 16px 0px 0px 0px;
}
.proc_albtn
{
 margin-left: 36px;
    margin-bottom: 13px;
}
