﻿body
{
    font-family: 'HELVETICANEUE';
    font-size:14px;
    font-weight:normal;
    text-decoration:none;
    color:#58595b;
    letter-spacing:.4px;
}
/* make it red instead (with with same width and style) */
option:checked, option:hover {
    color: white;
    background: #ed1c24 repeat url("../images/mycolor.gif");
}
*{
    margin:0px;
    padding:0px;
}
.link {color: #ed1c24;
    text-decoration: underline; cursor:pointer;
}
.srchcircle {
    border-radius: 100%;
    /*box-shadow: 5px 15px 104px #FCA33A;*/
    color: #000;
    margin: auto;
    position: relative;
    text-align: center;
    top: -80px;
    width:100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b89459+0,e0b97a+100 */
    /*background:#fb8903;*/
}

.scrhcnt a {
    color: #ff2a00;
    font-size: 14px;
    text-decoration: underline;
}
.car .row1 {
    margin-top: 8px;
}
.srchcircle h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.srchcircle p {
    font-size: 18px;
    font-weight: bold;
    /*width: 500px;*/
    text-align: center;
    margin: auto;
}

.scrhcnt {
    padding-top: 140px;
}

.erpage {
    padding-top: 190px;
}

/*Css Preloader Start*/

#cssload-wrapper {
    width: 195px;
    height: 19px;
    position: absolute;
    left: 50%;
    margin-top: 20px;
}



#cssload-border {
    background: #000 none repeat scroll 0 0;
    border: 3px solid #fff;
    height: 40%;
    left: -50%;
    padding: 0;
    position: relative;
    top: -50%;
    width: 100%;
}

#modifyDetails {
    border-bottom: 1px solid #ddd;
    margin-top: -1px;
    padding: 15px;
}
.widget-flds li > label {
    float: left;
    line-height: 30px;
    width: 39%;

}
.widget-flds li > input {
    float: left;
    padding: 3%;
    width: 53%;
}

.widget-flds li > select{
    float: left;
    padding: 4%;
    width: 60%;
}
.widget-flds > li {
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
.widget-flds li > ul li select {
    padding: 4%;
    width: 60%;
}
.widget-flds ul > li {
    float: left;
    margin-bottom: 5px;
    width: 100%;
}
.widget-flds li > ul li {
}
.mrno {
    margin-bottom: 0 !important;
}

#cssload-whitespace {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#cssload-line {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ed1c24;
    animation: cssload-slide 5.75s steps(40) infinite;
    -o-animation: cssload-slide 5.75s steps(40) infinite;
    -ms-animation: cssload-slide 5.75s steps(40) infinite;
    -webkit-animation: cssload-slide 5.75s steps(40) infinite;
    -moz-animation: cssload-slide 5.75s steps(40) infinite;
}

@keyframes cssload-slide {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@-o-keyframes cssload-slide {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@-ms-keyframes cssload-slide {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes cssload-slide {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@-moz-keyframes cssload-slide {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

/*Css Preloader End*/
.schfldserr {
color:red!important;}
@font-face {
    font-family: 'HELVETICANEUE';
    src: url('../fonts/HELVETICANEUE.eot');
    src: url('../fonts/HELVETICANEUE.eot') format('embedded-opentype'),
         url('../fonts/HELVETICANEUE.woff2') format('woff2'),
         url('../fonts/HELVETICANEUE.woff') format('woff'),
         url('../fonts/HELVETICANEUE.ttf') format('truetype'),
         url('../fonts/HELVETICANEUE.svg#HELVETICANEUE') format('svg');
}
@font-face {
    font-family: 'HELVETICANEUELIGHT_2';
    src: url('../fonts/HELVETICANEUELIGHT_2.eot');
    src: url('../fonts/HELVETICANEUELIGHT_2.eot') format('embedded-opentype'),
         url('../fonts/HELVETICANEUELIGHT_2.woff2') format('woff2'),
         url('../fonts/HELVETICANEUELIGHT_2.woff') format('woff'),
         url('../fonts/HELVETICANEUELIGHT_2.ttf') format('truetype'),
         url('../fonts/HELVETICANEUELIGHT_2.svg#HELVETICANEUELIGHT_2') format('svg');
}

.wrap {
    width:1024px;
    margin:auto;
}
.clr {
  clear: both;
    float: none !important;
    margin: 0 !important;
}
.wrzlogo {
    float:left;
}
ul li {
    margin:0px;
    padding:0px;
    list-style:none;
}
a {
    color:#555454;
    text-decoration:none;
}
    a:hover {
        color:#ed1c24;
        

    }
    
.topmenus {
    float: right;
}
.padnone {
    padding:0 !important;
}
.marnone {
    margin:0px !important;
}
.brnone {
    border:none !important;
}
.topmenus li{
      border-right: 1px solid #000000;
    display: table-cell;
    padding: 10px 20px;
}
.sign-reg {
    background:#ed1c24;
    padding:12px 12px 8px;
    border-radius:0px 0px 5px 5px; 
    color:#fff;
    font-size:13px;
}
.sign-reg a{
    color:#fff;    
}
.main-menu {
    background:#000000;
   
    width:100%;
}
.main-menu li{
    float:left;
    width:25%;
}
    .main-menu li a {
    display:block;
    text-align:center;
    color:#fff;
    font-size:15px;
     padding:14px 0;
    }
    .main-menu li a:hover, .main-menu li a.select{
        background:#ed1c24;
    }


h1 {
   color: #231f20;
    font-family: HELVETICANEUELIGHT_2;
    font-size: 40px;
    font-weight: normal;
   line-height:50px;
}
h3 {
   color: #58595b;
    font-family: HELVETICANEUELIGHT_2;
    font-size: 24px;
    font-weight: normal;
    line-height:50px;
}
article {
    text-align:center ;
    padding:30px 0 0px;
}
    article p {
    text-align:justify;
    margin-bottom:50px;
    line-height: 18px;
    }

.bnrlinks {
    width:1024px;
    margin:auto;
    margin-bottom:50px;
}
.bnrlinks li{
    float:left;
    margin-bottom:11px;
    width:49%;
    position:relative;
}
    .bnrlinks li img {
   width:100%; }
    .bnrlinks li a {
   position:relative; 
   display:block;
    }
        .bnrlinks li a h2 {
        position:absolute;
        top:25px; left:20px;
        font-family:HELVETICANEUELIGHT_2;
        font-size:32px;
        color:#000;
        font-weight:normal;
        }
        .bnrlinks li p {
            font-family: HELVETICANEUELIGHT_2;
    font-size: 32px;
    font-weight: normal;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
        }
        .bnrlinks li a button, .bnrlinks li .btnRed {
       background-color: #ed1c24;
       background-image:url("../images/ico-rtarow.png");
       background-position:72px 10px;
       background-repeat:no-repeat;
    border: medium none;
    bottom: 30px;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
    position: absolute;
    right: 20px;
        }
.bnrcol2 {
    margin-left:1.5%;
}
.bnrcolbnr {
    margin-bottom:10px;
    position:relative;
}
.testi {
    width:1024px;
    margin:auto;
    
}
.testi h1{
    font-size:32px;
    color:#414042;
}

.fullbnr li{
    width:99.5%;
}

/*Testimonial Box Starts*/  
.triangle-border.left::before {
    border-color: transparent #e6e7e8;
    border-width: 18px 13px 18px 0;
    bottom: auto;
    left: -14px;
    top: 14px;
}
.triangle-border::before {
    border-color: #e6e7e8 transparent;
    border-style: solid;
    border-width: 20px 20px 0;
    bottom: -20px;
    content: "";
    display: block;
    left: 40px;
    position: absolute;
    width: 0;
}
.triangle-border.left::after {
  border-color: transparent #fff;
    border-width: 18px 15px 18px 0;
    bottom: auto;
    left: -13px;
    top: 14px;
}
.triangle-border::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 13px 13px 0;
    bottom: -13px;
    content: "";
    display: block;
    left: 47px;
    position: absolute;
    width: 0;
}
.triangle-border.left {
    margin-left: 30px;
}
.triangle-border {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e7e8;
    border-radius:0px;
    color: #333;
    margin: 1em 0 3em;
    margin-bottom:0px;
    padding: 15px;
    position: relative;
}
p {
    margin: 1em 0;
}

.testi img {
    float: left;
    border:1px solid #e6e7e8
}
.testi p {
    float: left;
    /*left: 30px;*/
    width: 320px;
    margin-top:0px;
}
.testi li {
    display: inline-block;
    margin-right: 5%;
    width: 47%;
}
            /*Testimonial Box Ends*/


            /*Footer Starts*/
.ftrimg{
   background: rgba(0, 0, 0, 0) url("../images/ftrimg.jpg") no-repeat scroll center bottom;
    height: 275px;
    padding-top: 50px;
    width: 100%;
}
.ftr-countr {
    background:#000;
    padding:20px 0;
    color:#fff;
}
.ftr-countr li{
   display: inline-block;
    padding-left: 52px;
    /*width: 19.5%;*/
    font-size:18px;
}
    .ftr-countr h1 {
        color:#fff;
        font-size:34px;
        margin-bottom:0px;
        line-height:40px;
    }
.ico-ftrshop {
    background:url(../images/ico-ftrshop.png) no-repeat 0 7px;
    width:22.5%;
    height:60px;
}
.ico-flts{
    background:url(../images/ico-flts.png) no-repeat -3px 7px;
    width:16.5%;
    height:60px;
}
.ico-hotel {
    background:url(../images/ico-hotel.png) no-repeat 0 7px;
    width:23%;
    height:60px;
}
.ico-costmrs {
    background:url(../images/ico-costmrs.png) no-repeat 0 7px;
    width:16%;
    height:60px;
}
.ftr-links {
    background:#000;
    padding:35px 0 10px;
    display:none;
}
    .ftr-links li a {
   color:#fff;
   line-height:30px;
    font-family:HELVETICANEUELIGHT_2;
   font-size:15px;
    }
        .ftr-links li a:hover {
            color:#ed1c24;
        }
.ftrlinks-hdr {
    color:#ed1c24;
    margin-bottom:5px;
    font-size:16px;
    font-weight:normal;
    text-transform:uppercase;
}
.wrldrwz, .hlpsuprt, .policis, .conn-instlapp, .alrts-subcrb{
    float:left;
    width:20%;
}
.instlapp {
    margin-top:32px;
}
.ico-twitr {
    background:url(../images/ico-twitr.png) no-repeat ;
    height:26px;
    width:26px;
    display:inline-block;
}
.ico-utube {
    background:url(../images/ico-utube.png) no-repeat ;
    height:26px;
    width:26px;
    display:inline-block;
}
.ico-fb {
    background:url(../images/ico-fb.png) no-repeat ;
    height:26px;
    width:26px;
    display:inline-block;
}
.ico-likend {
    background:url(../images/ico-likend.png) no-repeat ;
    height:26px;
    width:26px;
    display:inline-block;
}
.ico-g {
    background:url(../images/ico-g.png) no-repeat ;
    height:26px;
    width:26px;
    display:inline-block;
}
.ico-andriod {
    background:url(../images/ico-andriod.png) no-repeat ;
    height:30px;
    width:30px;
    display:inline-block;
}
.ico-apple {
    background:url(../images/ico-apple.png) no-repeat ;
    height:30px;
    width:30px;
    display:inline-block;
}
.ico-windows {
    background:url(../images/ico-windows.png) no-repeat ;
    height:30px;
    width:30px;
    display:inline-block;
}
.alerts {
   background:rgba(0, 0, 0, 0) url("../images/ico-alerts.png") no-repeat scroll 0 -16px;
    height: 60px;
    padding-left: 62px;
    width: 60px;
}
.alerts h3{
    line-height: 3px;
    margin-top: 9px;
}
    .alerts p {
        font-size:26px;
        color:#fff;
        margin:0px;
        font-family:HELVETICANEUELIGHT_2;   
    }
.subscribe p {
      color: #fff;
       font-family:HELVETICANEUELIGHT_2;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 6px;
}
.subscribe input {
    float:left;
    width:105px;
    background:#fff;
    padding:7px;
    border:0;
}
.subscribe button {
  background: #ed1c24 none repeat scroll 0 0;
    border: 1px solid #fff;
    float: left;
    padding: 5.5px;
    cursor:pointer;
    color:#fff;
}
.logo-infinia {
    
    width:1024px;
    margin:auto;
    text-align:right;
}
/*Footer Ends*/






.clearfix:after {
     content: "."; 
     display: block; 
     height: 0; 
     clear: both; 
     visibility: hidden;
}

.meetg-tours {
}
.tra-meetg {
     float: left;
    margin-right: 14px;
    position:relative;
}
.tra-tours {
      float: left;
}

.banner {
    position:relative;
}
.scrhcont {
    position:absolute;
    bottom:0px;
    width:100%;
}
.hotel .col1 {
    margin-top: 12px;
}
.srchpanel {
    background:url(../images/srchpanelbg.png) repeat;  
   width:100%;
   padding:5px 0 15px;
   color:#fff;
   font-size:14px;
   height: 160px;
}
.bxslider li > img{
    width:100%;
    display:block;
}

.sertabs a{
  background-color: transparent;
    border: 1px solid #c8c8c8;
    color: #fff;
    display: table-cell;
    font-size: 16px;
    height: 50px;
    line-height: 35px;
    /*padding-bottom: 5px;*/
    text-align: center;
    vertical-align: middle;
    text-transform:uppercase;
    width: 165px;
}
.sertabs a:hover, .sertabs .select {
   background:url(../images/sertab_r.png) repeat;
 
}
.sertabs img {
     height: 30px;
    vertical-align: middle;
     padding-right: 5px;
}
.sertabs {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,0.5+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
.srchpanel .radios div {
    float: left;
    
    margin:15px 30px 7px 0
}
.srchpanel .radios input {
    margin-right: 8px;
    position: relative;
    top: 2px;
}
.ico_switch {
    background-image: url("../images/ico-switch.png");
    background-repeat: no-repeat;
    float: left;
    height: 18px;
    margin-right: 2%;
    margin-top: 10px;
    width: 10%;
    background-position:center center;

}
.srchpanel input[type="text"], .srchpanel .inputbg {
    background-color:transparent;
    border:none;
outline:none;
    border-bottom:1px solid #fff;
    padding:10px 0;
    color:#fff;
    font-size:14px;
    width:100%;
}
.srchpanel select {
    background-color:transparent;
    border:none;
    outline: none;
     
    color:#fff;
    font-size:14px;
    width:100%;
}
.srchpanel select option {
    color:#444;
 margin-bottom: 5px;
 padding:0 5px;
}
.srchpanel placeholder{
    color:#fff;
    opacity:1;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  opacity:1;
}
::-moz-placeholder { /* Firefox 19+ */
                     opacity:1;
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  opacity:1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  opacity:1;
}
.from {
     float: left;
    margin-right: 2%;
    width: 40%;
}
.to {
     float: left;
    margin-right: 2%;
    width: 40%;
}
 
.fromto {
    float: left;
    margin-right: 3%;
    width: 49%;
}
.class {
    float:left;
}
.col1 {
    width:870px;
    float:left
}
.flight .col2 {
    width:150px;
    float:left;
    padding-top: 47px;
}
.hotel .col2 {
    width:150px;
    float:left;
            padding-top: 65px;
}
.car .col2 {
    width:150px;
    float:left;
            padding-top:104px;
}
.lounge .col2 {
    width:150px;
    float:left;
            padding-top:85px;
}
.fromto{
    width:60%;
    margin-right:0%;
    float:left;
}
.depret {
     width:50%;
    margin-right:1%;
    float:left;
}
.class, .airlines {
    width:16.2%;
    margin-right:3%;
    float:left;
}
button, .btnS {
    background-color: #ed1c24;
    /*background-image: url("../images/ico-rtarow.png");*/
    background-position: 72px 10px;
    background-repeat: no-repeat;
    border: medium none;
    cursor:pointer;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
    
}
.row2 {
    margin-top:35px;
}
.col2 button,.col2 .btnS{
margin-top:10px;}
.departure {
   float: left;
    margin-right: 14%;
    width: 40%;
}
    .departure input, .return input, .pickupdt{
        background-image:url(../images/icocalender.png);
        background-position:right center;
        background-repeat:no-repeat;
    }
.return {
  float: left;
    margin-right: 2%;
    width: 40%;
}
.passgnr {
    float: left;
    margin-right: 0;
    width: 45%;
}
.passgnr .adult {
    float: left;
    margin-right: 7%;
    width: 28%;
}
.lst {
    margin-right:0px !important;
}
.adult span{
    font-size:10px;
}

.destination {
     float: left;
    margin-right:4%;
    width:35%;
}

.checkin {
    float: left;
    margin-right:4%;
    width:18%;
}
.checkout {
    float: left;
    margin-right:4%;
    width:18%;
}
.rooms {
    float: left;
    margin-right:4%;
    width:12%;
}
.room1 {
   float: left;
    margin-right: 4%;
    width: 21%;
}
.room2 {
 float: left;
    margin-right: 4%;
    width: 21%;
}
.room3 {
   float: left;
    margin-right: 4%;
    width: 21%;
}
.room4 {
float: left;
   
    width: 21%;
}
.radult {
clear: both;
    float: left;
    margin-right: 10%;
    width: 42%;
}
.rchild {
   float: left;
    width: 42%;
}
.room1 label, .room2 label, .room3 label, .room4 label{
    float:left;
    font-weight:bold;
}

.pickupcountry, .pickupcity, .pickuploction, .dropoffcountry, .dropoffcity, .dropoffloaction {
    float: left;
    width: 30%;
    margin-right:3%;
}
.dropoffloc, .pickuploc {
    float:left;
    width:45%;
}
.car .ico_switch {
    width:5%;
}
.pickupdttm {
    width:45%;
    margin-right:5%;
    float:left;
}
.dropoffdttm {
      width:45%;
      float:left;
}
.pickupdt {
   float: left;
    margin-right: 5%;
    width: 35%;
}
.pickuptm {
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: currentcolor currentcolor #fff;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #fff;
    float: left;
    font-size: 14px;
    padding: 9px 0;
    width: 60%;
}
.pickuptm label {
    float: left;
    width: 45%;
}

.pickuptm .inputbg {
    border: medium none;
    float: left;
    margin-right: 9%;
    padding: 0;
    width: 23%;
}
.returnsameloc {
    float:left;
     margin-right:4%;
       padding:5px 0 !important;
}
.driverage {
    float:left;
    margin-right:4%;
      padding:5px 0 !important;
}
.driverinput {
     float:left;
    
}
.driverinput input{
   
    width:50px !important;
    background:#fff !important;
    padding:5px !important;
    color:#444 !important;
}

.row3 {
    margin-top:10px;
}
.pickuplocsingle {
    float: left;
    width: 99% ;
}
.dropDetails {
display:none;
}

/*responsive menu Starts*/

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*Bootstrap*/
.autogen {
position:relative;
}
.autogen li, .destination li {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    height: auto !important;
    padding: 0;border-bottom:1px solid #ccc;
}
    /*.autogen .dropdown-menu {
    overflow:hidden;
    }*/
.datepicker-dropdown {
    overflow: hidden !important;
}

.dropdown, .dropup {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 13px;
    left: 0;
    list-style: outside none none;
    margin: 0;
    max-height: 290px;
    overflow: auto;
    /*padding: 5px 0;*/
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    z-index: 1000;
}

    .dropdown-menu.pull-right {
        right: 0;
        left: auto;
    }

    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .dropdown-menu > li > a {
        display: block;
        padding: 0px 7px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        /*white-space: nowrap;*/
    }

        .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        color: #fff;
        text-decoration: none;
        background: #ed1c24;
        outline: 0;
    }

    .dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
        color: #777;
    }

        .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
            text-decoration: none;
            cursor: not-allowed;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}
/*EndBootstrap*/
.btn-filter {
    display: none;
}
.mobusrched {
display:none;
}
.button {
    background-color: #ed1c24;
    background-position: 72px 10px;
    background-repeat: no-repeat;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 12px 20px;
    text-align:center;
    clear:both;
}
.pgcol100 {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 20px 2%;
    width: 96%;
}
.revncofm {
    margin-top: 10px;
}

    .revncofm h1, .chkpgsh1, .pgcol1 h1 {
        color: #333;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .revncofm .pass-details h3, .revncofm .depar-retur h3 {
        background: #333;
        color: #fff;
        padding: 5px;
        font-size: 14px;
        font-weight: normal;
    }

    .revncofm .pass-details table th, .revncofm .depar-retur table th {
        background: #ccc;
        text-align: left;
        color: #333;
        padding: 5px;
        border: 1px solid #999;
    }

    .revncofm .pass-details table td, .revncofm .depar-retur table td {
        background: #eee;
        border: 1px solid #999;
        padding: 5px;
        text-align: left;
    }
@media screen and (min-width: 64em) {
  .js .nav-collapse {
    position: relative;
    width:100%;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


/* ------------------------------------------
  DEMO STYLES
--------------------------------------------- */

 
section {
  border-bottom: 1px solid #999;
  text-align: center;
  padding: 100px 0 0;
  height: 800px;
  width: 100%;
}

h1 {
  margin-bottom: .5em;
}

p {
  /*width: 90%;*/
  margin: 0 auto;
}


/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

 header {
  
 
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}


.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0 20px;
  color: #fff;
  float: left;
}


/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 64em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 64em) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 64em) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  
}

.nav-collapse a:active,
.nav-collapse .active a {
  background: #b73214;
}

@media screen and (min-width: 64em) {
  /*.nav-collapse a {
    border-left: 1px solid white;
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
  }*/
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 64em) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #333; /* Edit this to change the icon color */
  font: normal 35px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  font-family:Verdana;
  left: 0;
  top: 0;
  z-index:9;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}



.js .nav-collapse {
  position: relative;
}

/*.nav-toggle {
  display: none;
}*/

.nav-collapse {
  float: right;
  width: auto;
}

/*.nav-collapse li {
  width: auto;
}*/

/*.nav-collapse a {
  border-left: 1px solid white;
  padding: 1.02em 2em;
  text-align: center;
  border-top: 0;
  float: left;
  width: auto;
  margin: 0;
}*/

.nav-collapse .active a {
  background: transparent;
}



/*responsive menu Ends*/




.type2 li {
    width:100% !important;
}








@media only screen and (max-width:500px) {
    .testi li {
        width:100%;
    }
   
    .ftr-countr li {
        width:75%;
        margin-left:5%;
        margin-bottom:20px;
        line-height:60px;
       
    }
    .ftr-countr h1 {
        margin-bottom:0;
    }
    .ftr-countr h1 {
           float: left;
    margin-right:5px;
     font-size:32px;    
    line-height:40px;
    }
    .ico-hotel, .ico-ftrshop, .ico-costmrs {
        background-position: 0 0;
    }
    .wrldrwz, .hlpsuprt, .policis, .conn-instlapp, .alrts-subcrb {
    float: left;
    margin-bottom: 20px;
    margin-left: 4%;
    width: 46%;
}
}
@media only screen and (min-width:500px) and (max-width:950px) {
    .ftr-countr li {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 5%;
    padding-left: 52px;
    width: 34%;
}
     .ftr-countr h1 {
        margin-bottom:0;
    }
    .wrldrwz, .hlpsuprt, .policis, .conn-instlapp, .alrts-subcrb {
        width:33%;
        height:200px;
    }
}
@media only screen and (min-width:900px) and (max-width:1024px) {
    .ico-ftrshop {
        width: 21%;
    }
    .ico-flts {
        width: 13.5%;
    }
    .ico-hotel {
        width: 21%;
    }
    .ico-costmrs {
      width: 18%;}
   
}
@media only screen and (max-width:768px) {
        .btn-filter {
        display: block;
        width: 90%;
        background: #ed1c24;
        width: 90%;
        padding: 10px 6px 10px 10px;
        position: absolute;
        right: 0;
        top: 170px;
        font-size: 16px;
        cursor: pointer;
        width: 30px;
    }
    .testi {
        width:96%;
        overflow:hidden;
    }
    .bnrlinks li {
        width: 100%;
        overflow:hidden;
        margin-left:0;
    }
    .bnrlinks li a p {
    font-family: HELVETICANEUELIGHT_2;
    font-size: 28px;
    font-weight: normal;
    margin: auto;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 10%;
    width: 50%;
}
   .bnrlinks .fullbnr img{
        width:200%;
    }
    
}
@media only screen and (max-width:1024px) {
    .scrhcont {
        position:relative !important;
    }
    div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}


div.scrollmenu a {
   
    color: white;
    text-align: center;
   padding:0 12px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
    .col1, col2, col3 {
        width:96%;
        padding:0 2%;
    }
    .testi {
        width:96%;
        padding:0 2%;

    }
     .triangle-border.left {
        width:90%;
    }
    .triangle-border.left {
        margin-left:0;
    }
    .triangle-border::after {
    display:none;}
    .triangle-border.left::before {
    display:none;}
     .logo-infinia {
        width:96%;
    }
    .bnrlinks {
        width:100%;
    }
    .wrap {
        width:100%;
    }
    .wrzlogo {
        position:absolute;
        left:5px;
    }
        .wrzlogo img {
            height:58px;
        }
    .main-menu li a {
        font-size:12px;
    }
    header {
        position:fixed;
        z-index:9;
        background:#fff;
    }
    .banner {
        margin-top:99px;
    }
    .nav-collapse li {
        margin-top: 1px;
    width: 100%;
    }
    .sign-reg {
          border-radius: 0;
    margin-bottom: 0;
    text-align: center;
    }
    .nav-collapse a {
    background: #e2e2e2 none repeat scroll 0 0;
    display: block;
    padding: 10px 20px;
    text-align: center;
}
    .topmenus li {
        padding:0px;
    }
    .sign-reg > a {
    background-color: transparent;
    display: initial;
}

    h1 {
   font-size:28px; }
}

@media only screen and (max-width:950px) {
   article h1 {
        font-size: 28px;
        line-height:40px;
    }
    article h3 {
        line-height: 30px;
    margin-bottom: 20px;
    }
    article {
        width:94%;
        margin:auto;
    }
}

/*login css*/
.moreLink {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
#CP_ErrorMsgContainer > div {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.statcpgCont {
    border: 1px solid #bbbbbb!important;
    height: auto;
    margin: 60px auto 10px;
    padding: 25px;
    width: 350px;
}
.statcpgCont .label {
    text-align: left;
    width: 100%;
    margin-bottom: 4px;
}
.statcpgCont .input {
    float: left;
    width: 100%;
}
.statcpgCont .input input[type="text"], .statcpgCont .input input[type="password"] {
    padding: 4%;
    width: 92%;
}
.Login {
    margin: 20px 0;
}
.chkbxtxt {
    margin-top: -8px;
    text-align: left;
}
.chkbxtxt > li {
    float: left;
    text-align: left;
}
.chkbxtxt input {
    margin-right: 5px;
}
.loginbtn input {
    background: #ed1c24 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    margin-top: 0;
    padding: 4%;
    text-transform: uppercase;
    width: 100%;
}
.flt-divR h2 {
    text-transform: uppercase;
}

/*Select css*/
.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  min-width: 100%;
}

.selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #fff;
    right: 0px;
    top: -5px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 0px solid #000;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv select {
    outline:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  max-width: 320px;
  height: 39px;
  float: right;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 1.75;
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-bottom: 1px solid #fff;
  -ms-word-break: normal;
  word-break: normal;
}


.pickuptm .selectdiv {
    min-width: auto;
}
.pickuptm .selectdiv > select {
    border-bottom: 0 none;
    height: auto;
}
.inputbg.selectdiv::after {
    top: -12px;
}


.tourSearch {
    float: left;
    margin-top: 25px;
    width: 60%;
}


.tour .col2 {
    float: left;
    padding-top: 65px;
    width: 150px;
}

hr.style-six { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); margin: 0 auto; width: 88%; border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
.lounge .row1 {
    margin-top: 10px;
}

.futLinks {
    float: left;
    margin-top: 20px;
}
.futLinks > li {
    display: inline-block;
    padding: 0 10px 0 0;
}
.futLinks a {
    font-size: 16px;
}
 .voucher_cnf
 {
    width:100%;
    float:left;
 }
 .countSel
 {
  float:right;
 }
 .countSel .selectdiv {
    float: right;
    position: relative;
    width: 90%;
}
 .countSel .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 37px;
    font-size: 16px;
    float: right;
    margin: 0px;
    padding: 5px 0 6px 10px;
    line-height: 1.75;
    color: #ed1c24;
    border: 0px;
    background-color: #fff;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
}
 .countSel .selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #ed1c24;
    right: 10px;
    top: -5px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 0px solid #000;
    position: absolute;
    pointer-events: none;
}
 option:checked, option:hover {
    color: white;
    background: #ed1c24 repeat url(../images/mycolor.gif);
}
 .brd-crms
 {
    width: 1024px;
    margin: 0 auto;
    margin-top: 7px;
 }