﻿.ManyWrap {
    border: 1px solid #999;
    padding:25px;
	position: relative;
}

.btmInfo {
    display: block;
    text-align: right;
    width: 100%;
}

.tabInfo input {
    border: 1px solid #999;
    margin-top: 5px;
    padding: 10px 3%;
    width: 93%;
}

.tabInfo .InputGrey {
   background-color:#eee;
}
.immr0{margin-right:0px!important;}
.selectdiv {
	width:100%;
}

.tabInfo li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0 0 2%;
    width: 32.6%;
	text-align:left;
}
.tabInfo li  label {
    display: block;
    text-align: left;
}

#tabs {
    border-bottom: 1px solid #ccc;
    list-style: outside none none;
    margin: 40px 0 0;
    overflow: auto;
    padding: 0;
}


#tabs li {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 35px;
    padding: 0;
}
#tabs a {
	color: #000;
    float: left;
    font-size: 14px;
    padding: 5px 0;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

#tabs a:hover {}
#tabs a:focus { outline: 0; }

#tabs #current a {
    border-bottom: 3px solid #ed1c24;
    color: #333;
    text-shadow: none;
}

#content {
    padding: 20px 0 0;
	 overflow: hidden;
}
/* Remove the rule below if you want the content to be "organic" */
#content aside {}

/*Select css*/
.ManyWrap .selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
   margin-top: 5px;
}
.ManyWrap .InnerTab li {
	background: #000;
    float: left;
    height: 4em;
    text-align: center;
    width: 14.28%;
	cursor:pointer;
}
.ManyWrap .InnerTab li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}
.ManyWrap .InnerTab a {
    color: #fff;
	text-transform: uppercase;
	display: inline-block;  
    vertical-align: middle; 
	padding:10px 0;
}
.ManyWrap > .InnerTab {
    left: -1px;
    position: absolute;
    top: -1px;
    width: 100.2%;
}
.ManyWrap .InnerTab li.active, .ManyWrap .InnerTab li:hover {
    background: #ed1c24;
	cursor:none;
}

.ManyWrap .selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #999;
    right: 10px;
    top: -5px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 0px solid #000;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.ManyWrap .selectdiv select {
	
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  height: 40px;
  float: right;
  margin: 0px;
  padding: 0px 10px 6px;
  font-size: 18px;
  line-height: 1.75;
  color: #000;
  border: 1px solid #999;
  background-color: #fff;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}

.btnRed, .btnRed:hover {
    background-color: #ed1c24;
    background-image: url("../images/ico-rtarow1.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
	display: inline-block;
}
.btnBlk, .btnBlk:hover {
    background-color: #000;
	display: inline-block;
    background-image: url("../images/ico-rtarow1.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
}
.divLeft {
    float: left;
}
.divRight {
    float: right;
	margin-top: 15px;
}
.ManyWrap table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    text-align: left;
	width: 100%;
}
.ManyWrap table tr td {
    border: 1px solid #b6b6b6;
    padding: 10px;
}
.ManyWrap th {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #b6b6b6;
    padding: 10px;
	text-align:center;
}


.InnCont {
    margin-top: 50px;
    overflow: hidden;
}
.InnCont h2 {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: left;
}

.leftCont {
    float: left;
	width:50%;
}
.leftCont > p {
    margin-bottom: 11px;
}
.selDiv > span {
    float: left;
    line-height: 45px;
    margin-right: 10px;
}
.leftCont .selectdiv {
    float: left;
    margin-right: 10px;
    width: 100px;
}

.selDiv {
    margin-bottom: 26px;
    overflow: hidden;
}
.chkBox {
    float: left;
    margin-top: 10px;
}

.notification {
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 15px;
	text-align: left;
}


.rightCont {
    float: right;
    width: 40%;
}
.rightCont {
	width:50%;
}
}
.noteBlk h2 {
    font-size: 13px;
}
.noteBlk {
    background: #e6e7e8 none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
	    margin-top: 5px;
}
.noteBlk li {
    list-style: outside none disc;
    margin-left: 12px;
    margin-top: 5px;
}


.InnCont > p {
    margin-bottom: 5px;
}


.txtNote {
    color: #000;
    margin: 30px 0;
}
.transfCont {
    float: left;
    width: 70%;
	text-align:left;
}
.transfCont ul label {
    float: left;
    line-height: 40px;
    text-align: left;
    width: 50%;
	 margin-top: 5px;
}
.transfCont .selectdiv {
    float: left;
    width: 30%;
}
.transfCont {
    margin-top: 30px;
    overflow: hidden;
}
.transfCont li {
    overflow: hidden;
}
.transfCont .selectdiv select {
    color: #666;
    font-size: 14px;
}

.txtRight{ text-align:right!important;}
.txtLeft{text-align:left!important;}
.txtCenter{ text-align:Center;}
.transfCont input {
    border: 1px solid #999;
    margin-top: 10px;
    padding: 10px 3%;
    width: 23.5%;
	float:left;
}


.list {
    margin: 20px 0 0;
    text-align: left;
}
.list h2 {
    font-size: 15px;
}
.list li {
    list-style: disc!important;
    margin-left: 15px;
    margin-top: 5px;
}

.btmLinks {
    margin: 10px 0 0;
    text-align: left;
}
.btmLinks > a {
    padding-right: 10px;
    text-decoration: underline;
}


.filtRadio .chkBox > input {
    margin-right: 5px;
    position: relative;
    top: 1px;
}
.filtRadio .chkBox > label {
    margin-right: 10px;
}
.filtRadio {
    margin-bottom: 20px;
}
.MyAccount .btnRed {
    margin-left: 10px;
    margin-top: 5px;
    padding: 11px 35px 10px 20px;
}
.icnCal{background-image: url("../images/icn-cal-grey.png");
    background-position: right center;
    background-repeat: no-repeat;}
	
.persDetail li {
    position: relative;
	clear:both;
}
.persDetail label {
    float: left;
    line-height: 38px;
    margin-top: 5px;
    text-align: left;
    width: 35%;
}
.persDetail input, .persDetail textarea {
    border: 1px solid #999;
    margin-top: 5px;
    padding: 10px 3%;
    width: 50%;
	float:left;
}
.icnEdit {
    background-image: url("../images/icn-edit-grey.png");
    background-position: right 6px;
    background-repeat: no-repeat;
    height: 26px;
    position: absolute;
    right: 42px;
    top: 4px;
	width:33px;
}
.fl{float:left;}
.noteBlk h2 {
    font-size: 13px;
}

.noteBlk li {
    list-style: disc !important;
    margin-left: 12px;
    margin-top: 5px;
}


 .accordion_container {
 	width: 100%
}
.faqPage  ul{ margin-bottom:10px;}
.faqPage  #discription li{padding:0 0 10px 15px}
.staticPage .accordion_container li {
    margin-bottom: -2px;
	text-align:left;
}
.staticPage .description {
    border: 1px solid #ccc;
    margin-bottom: 1px;
    margin-top: -2px;
    padding: 10px 15px;
	
}

.staticPage .accordion_head {
    border: 1px solid #ccc;
    color: #58595b;
    cursor: pointer;
    font-size: 16px;
    margin: 0 0 1px;
    padding: 15px 20px;
}
.staticPage .accordion_body {
}
.staticPage .accordion_body p{
	padding: 5px 0;
	margin: 0px;
}
.staticPage .accordion_body .ques{
	 font-size: 14px;
    font-weight: bold;
	margin-bottom:10pxl
	}
.staticPage .plusminus{
	float:right;
line-height: 12px;
 font-size: 24px;
}

.staticPage h2 {
    font-size: 14px;
    font-weight: bold;
}
#discription li {
    list-style: outside none disc;
    margin-left: 15px;
    padding: 10px 0 0 15px;
}


.innerTxt {
    border: 1px solid #ccc;
    padding: 30px;
}

.innerTxt p {
    margin: 0;
    padding: 5px 0;
}
.input-bg .selectric .button
{
  padding: 12px 38px!important;
}
.MyAccount .btnRed input
{
 width:auto;
 padding:0px;
 border:none;
 margin-top: 0px;
}
.save_btnprofile
{
  width:230px;
  float:left;
}
.save_btnprofile input
{
    margin-left: 0px!important;
    border:none;
}
.btnred_width
{
 width: auto!important;
 float: left;
 border: none!important;
}
.selectricOpen .selectric
{
    border-color:none; 
    background: none; 
    z-index: 9999;
    width: auto!important;
}
.selectdiv .selectric .button
{
    background-image:none!important;
}