﻿.inrpg {
    
}

.pgcontent {
    margin: 0 auto;
    width: 80%;
}

.widget-srhpnl h3 {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    padding: 10px;
}
.rfnhdr h3 {
    color: #3a3a3a;
    font-size: 16px;
    line-height: 34px;
    margin-bottom: 15px;
    margin-top: 15px;
}


.rwdpnts, .stops {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 15px 12px;
}


.pgFltcol2 {
    float: left;
    width: 25%;
}


.pgFltcol1 {
    background: #fff none repeat scroll 0 0;
    float: right;
    padding: 50px 0.2%;
    width: 72%;
}


.widget-srhpnl {
    background-color: #fff;
    border: 1px solid #333;
    margin-top: 10px;
}

.tourCategory > li {
    list-style: outside none disc;
    margin-bottom: 4px;
    margin-left: 16px;
    margin-top: 4px;
    padding-left: 5px;
}
.srh-listing {
    float: left;
    margin-bottom: 2%;
    width: 100%;
	padding-bottom: 20px;
}

.listing-cube {
    float: left;
    margin: 0 0 2% 2% !important;
    width: 30.7%;
}

.listing-cube .img img {
    cursor: pointer;
    margin-bottom: 5px;
    width: 100%;
}
.tourCont {
    float: left;
    height: auto;
    margin: 0;
    width: 100%;
}

.tourCont li {
    cursor: pointer;
}

.AmtStyle, .pointStyle {
    color: #005a7e;
    font-size: 18px !important;
    padding-bottom: 5px;
}

.AmtStyle, .pointStyle {
    color: #ed1c24 ;
    font-size: 18px !important;
    padding-bottom: 5px;
}
.listing-cube .tourCont h3 {
    color: #333;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 3px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

span.stars, span.stars span {
    background: rgba(0, 0, 0, 0) url("images/star.png") repeat-x scroll 0 -16px;
    clear: both;
    display: block;
    height: 16px;
    width: 80px;
}

span.stars span {
    background-position: 0 0;
}
span.stars, span.stars span {
    clear: both;
    display: block;
    height: 16px;
}



.tourSection .prpg-gall {
    border: 1px solid #999;
    float: left;
    margin-top: 28px;
    padding: 3%;
    width: 27%;
}
.tourSection .jqzoom {
    width: 100%;
}

.tourSection .prpg-dtls {
    float: left;
    margin-left: 5%;
    margin-top: 28px;
    width: 60%;
}
.tourSection .prpg-dtls > h1 {
    font-weight: normal;
    margin-bottom: 5px;
	line-height:normal;
    margin-top: 10px;	
}
.tourSection .prpg-dtls h1 {
    font-size: 1.4em;
    padding-top: 0;
     font-weight: normal;
    margin-bottom: 5px;
	line-height:normal;
    margin-top: 10px;	
}

.tourSection .prpg-hdr hr {
    background: #ed1c24 none repeat scroll 0 0;
    height: 1px;
    margin: 2px 0 12px;
}
.tourSection .pr-btn {
    float: left;
    width: 50%;
}

.tourSection .crtbtns {
    margin-bottom: 15px;
}

.tourSection .btnRed {
    background-color: #ed1c24;
    background-image: url("../images/ico-rtarow1.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
}

.tourSection .crtbtns button, input[type="submit"], input[type="reset"], input[type="button"] {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e3443e 50%, #ed1c24 50%, #e30e27 100%) repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    height: 44px;
    padding: 0 25px;
}
.tourSection .btns {
    float: right;
}
.tourSection .addWishlist > a {
    font-size: 12px;
    text-decoration: none;
}

.tourSection .wishedIcn {
    background: rgba(0, 0, 0, 0) url("../images/icn-wishlist.jpg") no-repeat scroll 0 0;
    bottom: -3px;
    display: block;
    float: left;
    height: 30px;
    position: relative;
    top: 0;
    width: 25px;
}

.tourSection .desc {
    color: #333;
    margin-top: 10px;
    width: 100%;
}

.tourSection .desc h2 {
    font-size: 14px;
    margin-bottom: 5px;
}
.tourSection .nwdescp {
    color: #444;
    font-size: 13px;
    height: 175px;
    padding-right: 10px;
}
.tourSection .desc p span, .tourSection .desc p {
    color: #444;
}
.tourSection .desc p {
    font-size: 13px;
    line-height: 16px;
}
.tourSection span.stars, .tourSection span.stars span {
    background: url("../images/star.png") repeat-x scroll 0 0px;
    clear: both;
    display: block;
    height: 16px;
    width: 75px;
	margin-bottom: 10px;
}

.tourSection .Duration {
    display: block;
    margin-bottom: 10px;
    text-align: right;
    width: 100%;
}



.tourSection .totpoint {
    color: #333;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 10px;
    padding: 0;
}

.tourSection .milesPrice {
    color: #ed1c24;
    font-size: 26px;
    font-weight: bold;
}

.tourSection .vatrhdr {
    color: #ed1c24;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 15px;
}

.tourSection .ultraveler {
    font-weight: bold;
    margin-top: 10px;
	margin-bottom: 20px;
}

.tourSection .ultraveler li {
    float: left;
    margin-right: 2%;
    width: 23%;
}
.tourSection .seltrvdt {
    width: 100% !important;
}
.tourSection .hasDatepicker {
    width: 100%!important;
	background: url("../images/icn-cal-grey.png") no-repeat scroll center right;
	
	
}
.tourSection input[type="text"],
.tourSection input[type="password"],
.tourSection input[type="email"],
.tourSection textarea,
.tourSection select {
    background-color: #efefef;
    border: 1px solid #d0d0d0;
    color: #666;
    display: block;
    font-size: 13px;
    max-width: 100%;
    outline: medium none;
    padding: 7px 6px;
    width: 210px;
	margin-bottom:15px;
}
.tourSection .f10 {
    font-size: 10px !important;
    font-weight: normal;
}
.tourSection label, .tourSection legend {
    display: block;
    font-size: 12px;
    margin-bottom: 2px;
}

 .accordion_container {
 	width: 100%
}

.accordion_container li {
    margin-bottom: -2px;
}
.description {
    border: 1px solid #ccc;
    margin-bottom: 1px;
    margin-top: -2px;
    padding: 10px 15px;
}
.tourSection .accordion_head {
    border: 1px solid #ccc;
    color: #58595b;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 1px;
    padding: 7px 11px;
}
.tourSection .accordion_body {
}
.tourSection .accordion_body p{
	padding: 5px 0;
	margin: 0px;
}
.tourSection .plusminus{
	float:right;
line-height: 12px;
}
.tour_list_a
{
 width:100%;
 float:left;
}
footer
{
    float:left;
    width:100%;
}
.tourCategory .airlinelist li
{
    list-style: outside none disc;
    margin-bottom: 4px;
    margin-left: 16px;
    margin-top: 4px;
    padding-left: 5px;
}
.contain
{
  padding: 4px 0px;
}
.contain .containHead
{
  margin-bottom: 5px;
}
.txtDest
{
 width:100%;
 float:left;
}
.txtDest .inputtext
{
    padding: 5px 4px;
    float: left;
}
.txtDest .btnSearching
{
  font-size: 14px;
  height: 29px;
  padding: 0 8px;
  float: left;
  margin-left:3px;
}
.bx-wrapper
{
  height: 357px!important;
}
#Divoverview,#DivImportant
{
    overflow: initial!important;
}
#auto_seacrht
{
  width:100%;
  float:left;
}
#auto_seacrht ul
{
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 13px;
    left: 0;
    list-style: outside none none;
    margin: 0;
    max-height: 290px;
    overflow: auto;
    text-align: left;
    top: 100%;
    width: 100%;
    z-index: 1000;
}
#auto_seacrht ul li
{
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    height: auto !important;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
#auto_seacrht ul li a 
{
    display: block;
    padding: 0px 7px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143!important;
}
#auto_seacrht ul li a span
{
    font-size:15px!important;
}
#auto_seacrht ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: #ed1c24;
    outline: 0;
}