﻿.ManyWrap {
    border: 1px solid #999;
    padding:25px;
	position: relative;
}

.btmInfo {
    display: block;
    text-align: right;
    width: 100%;
}

.tabInfo input {
    border: 1px solid #999;
    margin-top: 5px;
    padding: 10.5px 3%;
    width: 93%;
}

.tabInfo .InputGrey {
   background-color:#eee;
}
.immr0{margin-right:0px!important;}
.selectdiv {
	width:100%;
}

.tabInfo li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0 0 2%;
    width: 32.6%;
	
}
.tabInfo li  label {
    display: block;
    text-align: left;
}

#tabs {
    border-bottom: 1px solid #ccc;
    list-style: outside none none;
    margin: 35px 0 0;
    overflow: auto;
    padding: 0;
}


#tabs li {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 35px;
    padding: 0;
}
#tabs a {
	color: #000;
    float: left;
    font-size: 14px;
    padding: 5px 0;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

#tabs a:hover {}
#tabs a:focus { outline: 0; }

#tabs #current a {
    border-bottom: 3px solid #ed1c24;
    color: #333;
    text-shadow: none;
}

#content {
    padding: 20px 0 0;
	 overflow: hidden;
}
/* Remove the rule below if you want the content to be "organic" */
#content aside {}

/*Select css*/
.ManyWrap .selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
   margin-top: 5px;
}
.ManyWrap .InnerTab li {
    float: left;
    width: 20%;
}
.ManyWrap .InnerTab a {
    background: #000;
    color: #fff;
    padding: 14px;
	display:block;
	text-transform: uppercase;
}
.ManyWrap > .InnerTab {
    left: -1px;
    position: absolute;
    top: -1px;
    width: 100.2%;
}
.ManyWrap .InnerTab a.active, .ManyWrap .InnerTab a:hover {
    background: #ed1c24;
}

.ManyWrap .selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #999;
    right: 10px;
    top: -5px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 0px solid #000;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.ManyWrap .selectdiv select {
	
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 100%;
  height: 40px;
  float: right;
  margin: 0px;
  padding: 5px 10px 6px;
  font-size: 18px;
  line-height: 1.75;
  color: #000;
  border: 1px solid #999;
  background-color: #fff;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}

.btnRed, .btnRed:hover {
    background-color: #ed1c24;
    background-image: url("../images/ico-rtarow1.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
	display: inline-block;
}
.btnBlk, .btnBlk:hover {
    background-color: #000;
	display: inline-block;
    background-image: url("../images/ico-rtarow1.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
}
.divLeft {
    float: left;
}
.divRight {
    float: right;
	margin-top: 15px;
}
.ManyWrap table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    text-align: left;
	width: 100%;
}
.ManyWrap table tr td {
    border: 1px solid #b6b6b6;
    padding: 10px;
}
.ManyWrap th {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #b6b6b6;
    padding: 10px;
}


.InnCont {
    margin-top: 40px;
    overflow: hidden;
}

.leftCont {
    float: left;
}
.leftCont {
}
.leftCont > p {
    margin-bottom: 11px;
}
.selDiv > span {
    float: left;
    line-height: 45px;
    margin-right: 10px;
}
.leftCont .selectdiv {
    float: left;
    margin-right: 10px;
    width: 100px;
    min-width: 100px!important;
}

.selDiv {
    margin-bottom: 26px;
    overflow: hidden;
}
.chkBox {
    float: left;
    margin-top: 10px;
}

.notification {
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 15px;
	text-align: left;
}


.rightCont {
    float: right;
    width: 40%;
}
.rightCont {
}
.noteBlk h2 {
    font-size: 13px;
}
.noteBlk {
    background: #e6e7e8 none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
	margin-top: 40px;
}
.noteBlk li {
    list-style: disc!important;
    margin-left: 12px;
    margin-top: 5px;
}


.InnCont > p {
    margin-bottom: 5px;
}


.txtNote {
    color: #000;
    margin: 30px 0;
}
.transfCont {
    float: left;
    width: 70%;
	text-align:left;
}
.transfCont ul label {
    float: left;
    line-height: 40px;
    text-align: left;
    width: 50%;
	 margin-top: 5px;
}
.transfCont .selectdiv {
    float: left;
    width: 30%;
    min-width: 30%;
}
.transfCont {
    margin-top: 30px;
    overflow: hidden;
}
.transfCont li {
    overflow: hidden;
}
.transfCont .selectdiv select {
    color: #666;
    font-size: 14px;
}


.transfCont input {
    border: 1px solid #999;
    margin-top: 10px;
    padding: 10px 3%;
    width: 23.5%;
	float:left;
}
.mainInnCont
{
  width:100%;
  display:none;
}
.active_rewardz{
    display:block;
}
.transfCont input[type="button"]{
     border:none; 
     margin-top: inherit; 
    padding: 12px 35px 12px 20px;
     width: 23.5%; 
     float: left; 
}