﻿.vouWrap {
    border: 1px solid #999;
    padding: 20px 12px;
}
.vouWrap h2 {
    font-size: 24px;
    font-weight: normal;
	margin-bottom:4px;
}

.vouWrap ul li {
    background: #e6e7e8 none repeat scroll 0 0;
    display: inline-block;
    margin: 0 10px;
    padding: 20px 0;
    width: 31%;
    /*min-height: 170px;*/
    float:left;
}


.calDiv {
    color: #000;
    display: inline-block;
	 margin-bottom: 25px;
}
.calDiv > span {
    float: left;
    font-size: 45px;
}
.calDiv em {
    font-size: 25px;
    font-style: normal;
    float: left;
    line-height: 50px;
    margin: 0 10px;
}
.selectdiv {
}


/*Select css*/
.vouWrap .selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
   margin-top: 8px;
}

.vouWrap .selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #999;
    right: 10px;
    top: -5px;
    height: 34px;
    padding: 15px 0px 0px 8px;
    border-left: 0px solid #000;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.vouWrap .selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: block;
  width: 75px;
  height: 40px;
  float: right;
  margin: 0px;
  padding: 0px 10px 6px;
  font-size: 18px;
  line-height: 1.75;
  color: #000;
  border: 1px solid #999;
  background-color: #fff;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}

.addBtn, .addBtn:hover {
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 30px;
    text-transform: uppercase;
	margin-top:20px;
}
.btnRed, .btnRed:hover {
    background-color: #ed1c24;
    background-image: url("../images/ico-rtarow1.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
}
.btnBlk, .btnBlk:hover {
    background-color: #000;
	display: inline-block;
    background-image: url("../images/ico-rtarow1.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 12px 35px 12px 20px;
}
.divLeft {
    float: left;
}
.divRight {
    float: right;
	margin-top: 15px;
}
.divLeft > p {
    font-size: 16px;
    line-height: normal;
    margin: 0;
}
.divLeft span {
    color: #000;
    font-size: 22px;
}
.btmInfo {
    margin-top: 62px;
    padding: 0 10px;
    float: left;
    width: 97%;
}
.btmInfo1 {
    margin-top: 30px;
    padding: 0 10px;
}
.vouConfirm {
    padding: 20px;
}
.vouConfirm table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    text-align: left;
	width: 100%;
}
.vouConfirm table tr td {
    border: 1px solid #b6b6b6;
    padding: 10px;
}
.vouConfirm th {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #b6b6b6;
    padding: 10px;
}
.display_hide {
    display: none;
}
.giftvouchr
{
 width:192px;
}
.flotihert
{
    min-width: 80px!important;
}
.vouWrap
{
  float:left;
  width:100%;
  box-sizing: border-box;
}