﻿

.redcol {
    color: #e30e27;
}
.copyryts {
    border-left: 1px solid #999;
    color: #999;
    float: left;
    height: 33px;
    margin-top: 10px;
    padding: 13px 20px 0;
}
.copyrytsIndex {
    color: #999;
    float: left;
    height: 33px;
    margin-top: 10px;
    padding: 13px 20px 0;
}
.bnr {
    position: absolute;
    width: 100%;
    z-index: -1;
}
.modify-box {
    display: none;
}
.inside-banner {
    float: left;
    width: 100%;
}
.logo a {
    background: rgba(0, 0, 0, 0) url("../images/rw-logo.png") repeat scroll 0 0;
    display: block;
    height: 72px;
    width: 172px;
}
/*.wrap {
    padding: 2% 2% 0;
    width: 96%;
}*/
.fl {
    float: left;
}
.fr {
    float: right;
}
.bnr-txt {
    float: left;
    font-size: 18px;
    margin-top: 150px;
    width: 360px;
}
.pnts button {
    height: 28px;
    padding: 0 7px;
}

.bnr-txt h1 {
    color: #000;
    font-size: 32px;
    margin-bottom: 5px;
}
.bnr-txt h1 span {
    color: #e3152a;
}
.bnr-txt p {
    font-size: 14px;
}
.bnr-txt hr {
    margin: 0 0 8px;
}
.slicknav_menu {
    display: none;
}
.footer {
    background: #000 url("../images/ftr-bg.jpg") repeat-x scroll 0 0;
    bottom: 0;
    height: 65px;
    padding: 0 5%;
    position: fixed;
    width: 90%;
}
.inr-hdrn {
    background: #000 url("../images/ftr-bg.jpg") repeat-x scroll 0 0;
    height: 30px;
    padding: 0;
    width: 100%;
}
.inr-ftr {
    background: #000 url("../images/inr-ftr-bg.jpg") repeat-x scroll 0 0;
    padding: 12px 5%;
    width: 90%;
}
.servindx {
    margin: auto;
    width: 1000px;
}
.servindx .tabbertab {
    background: #e30e27 none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    float: left;
    height: 473px;
    padding: 20px;
    position: static;
    width: 428px;
}
.servindx-bnr {
    float: left;
}
.servindx-bnr > img {
    height: 513px;
    width: 528px;
}
.servindx .tabbertab h2 {
    color: #fff;
    margin-bottom: 0;
    padding: 0 15px;
    margin-top:10px;
}
.indx-bg {
    background: rgba(0, 0, 0, 0) url("../images/bnr.jpg") repeat-x scroll 0 0;
    height: 650px;
    position: relative;
    width: 100%;
}
.ftr-menu {
    float: right;
}
.ftrcont {
    float: left;
}
.ftr-menu ul {
    float: left;
}
.inr-hdrn .ftr-menu ul li {
    color: #999;
    float: left;
    padding-top: 31px;
}
.ftr-menu ul li {
    color: #999;
    float: left;
}
.inr-hdrn .ftr-menu .ftrbtn {
    float: left;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 21px;
}
.ftr-menu .ftrbtn {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
}
.ftr-menu ul li a {
    color: #999;
    display: block;
    font-size: 12px;
    padding: 22px 10px;
    text-decoration: none;
}
.ftr-menu ul li a:hover, .actlnk {
    border-top: 5px solid #e3152a;
    color: #e3152a !important;
    padding: 17px 10px !important;
    text-decoration: none;
}
.rdmon-bg {
    background: rgba(0, 0, 0, 0) url("../images/wht-bg.png") repeat scroll 0 0;
    float: right;
    margin-top: 15px;
    padding: 20px 0 0;
    position: relative;
    text-align: center;
    width: 220px;
}
.rdmon-bg h2 {
    color: #e3152a;
    margin-bottom: 0;
    padding: 0 15px;
    text-align: center;
}
.rdmon-bg hr {
    margin: 10px 10px 0;
}
.icns-nav ul li {
    float: left;
    margin: 0;
    width: 110px;
}
.icns-nav ul li a {
    color: #010101;
    cursor: pointer;
    display: block;
    height: 77px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    width: 110px;
}
.icns-nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}
.navflts {
    background: rgba(0, 0, 0, 0) url("../images/nav-fltg.png") no-repeat scroll 28px 16px;
    line-height: 100px;
}
.navflts:hover {
    background: #e3152a url("../images/nav-fltg-r.png") no-repeat scroll 28px 16px;
}
.navCar {
    background: rgba(0, 0, 0, 0) url("../images/nav-car.png") no-repeat scroll 29px 16px;
    line-height: 100px;
}
.navCar:hover {
    background: #e3152a url("../images/nav-car-r.png") no-repeat scroll 29px 16px;
}
.navHotel {
    background: rgba(0, 0, 0, 0) url("../images/nav-hotl.png") no-repeat scroll 29px 14px;
    line-height: 100px;
}
.navHotel:hover {
    background: #e3152a url("../images/nav-hotl-r.png") no-repeat scroll 29px 14px;
}
.navShop {
    background: rgba(0, 0, 0, 0) url("../images/nav-shp.png") no-repeat scroll 29px 13px;
    line-height: 100px;
}
.navShop:hover {
    background: #e3152a url("../images/nav-shp-r.png") no-repeat scroll 29px 13px;
}
.navBarca {
    background: rgba(0, 0, 0, 0) url("../images/nav-barca.png") no-repeat scroll 27px 15px;
    line-height: 100px;
}
.navBarca:hover {
    background: #e3152a url("../images/nav-barca-r.png") no-repeat scroll 27px 15px;
}
.navVoucher {
    background: rgba(0, 0, 0, 0) url("../images/nav-vouhr.png") no-repeat scroll 29px 8px;
    line-height: 100px;
}
.navVoucher:hover {
    background: #e3152a url("../images/nav-vouhr-r.png") no-repeat scroll 29px 8px;
}
.navgftVoucher {
    background: rgba(0, 0, 0, 0) url("../images/nav-gftvchr.png") no-repeat scroll 29px 8px;
    line-height: 100px;
}
.navgftVoucher:hover {
    background: #e3152a url("../images/nav-gftvchr-r.png") no-repeat scroll 29px 8px;
}
.navBillPay {
    background: rgba(0, 0, 0, 0) url("../images/nav-blpay.png") no-repeat scroll 27px 10px;
    line-height: 100px;
}
.navBillPay:hover {
    background: #e3152a url("../images/nav-blpay-r.png") no-repeat scroll 27px 10px;
}
.navCelebs {
    background: rgba(0, 0, 0, 0) url("../images/nav-celb.png") no-repeat scroll 29px 13px;
    line-height: 100px;
}
.navCelebs:hover {
    background: #e3152a url("../images/nav-celb-r.png") no-repeat scroll 29px 13px;
}
.navCashback {
    background: rgba(0, 0, 0, 0) url("../images/cashback-icon.png") no-repeat scroll 29px 13px;
    line-height: 100px;
}
.navCashback:hover {
    background: #e3152a url("../images/cashback-icon-re.png") no-repeat scroll 29px 13px;
}
.navMeet {
    background: rgba(0, 0, 0, 0) url("../images/meet&greet-icon.png") no-repeat scroll 35px 13px;
    line-height: 100px;
}
.navMeet:hover {
    background: #e3152a url("../images/meet_and_greet-re.png") no-repeat scroll 35px 13px;
}
.navTour {
    background: rgba(0, 0, 0, 0) url("../images/nav-tour.png") no-repeat scroll 29px 8px;
    line-height: 100px;
}
.navTour:hover {
    background: #e3152a url("../images/nav-tour-r.png") no-repeat scroll 29px 8px;
}
.navPayPoint {
    background: rgba(0, 0, 0, 0) url("../images/nav-PayPoint.png") no-repeat scroll 29px 8px;
    line-height: 100px;
}
.navPayPoint:hover {
    background: #e3152a url("../images/nav-PayPoint-hvr.png") no-repeat scroll 29px 8px;
}
.tabbertab {
    background: rgba(0, 0, 0, 0) url("../images/wht-bg.png") repeat scroll 0 0;
    padding: 15px;
    position: absolute;
    right: 220px;
    top: 0;
}
.tabbertab h2 {
    color: #000;
    font-size: 18px;
    text-align: left;
}
.modify-srh {
    background-repeat: repeat;
    margin: 26px auto 0;
    /*overflow: hidden;
    padding: 0 0 10px 20px;*/
    width: 436px;
}
.modify-box .tabberlive {
    width: auto;
}
.modify-srh input {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    font-size: 13px;
    margin-right: 15px;
    width: 175px;
}
.flightinput .calender ,.dates > input , .pkdate > input  {
    background:#fff url("../images/calender-icon.png") no-repeat scroll right 5px center;
}
.calender {
        background:#fff url("../images/calender-icon.png") no-repeat scroll right 5px center;
}
.from, .flightinput, .Passengers, .dates, .country, .city, .pktime, .pkdate {
    float: left;
}
.Passengers .cols {
    float: left;
    width: 129px;
}
.Passengers .cols span {
    color: #000;
    font-size: 10px;
}
.Passengers .input-bg {
    margin-bottom: 5px;
    margin-right: 10px;
}
.Searchbutton {
    margin-top: 20px;
}
.Searchbutton button, .Add button, .Add input[type="submit"], .Add input[type="reset"], .Add input[type="button"], .Clear button, .Clear input[type="submit"], .Clear input[type="reset"], .Clear input[type="button"], .Ourproduct_Rightpannel input[type="submit"] {
    background: #000 none repeat scroll 0 0;
    float: left;
    font-size: 14px;
}
.country, .city {
    width: 50%;
}
.Rooms .input-bg {
    float: left;
}
.inr-mody input, .inr-mody .input-bg {
    background: #e9e9e9 none repeat scroll 0 0;
    border: medium none;
    margin-right: 15px;
    width: 175px;
}
.modify-srh input[type="text"]:focus, .modify-srh input[type="password"]:focus, .modify-srh input[type="email"]:focus, .modify-srh textarea:focus {
    box-shadow: 0 0 2px #e3152a;
}
.modify-srh select {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #666;
    margin-bottom: 0;
    padding: 0;
    width: 181px !important;
}
.input-bg > span {
}
.desti {
}
.desti input {
    width: 373px;
}
.flightinput .input-bg {
    width: 181px;
}
.Passengers{
    width: 100%;
}
.Rooms .input-bg, .Rooms .input-bg {
    float: left;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 81px;
}
.pkdate .input-bg, .pktime .input-bg {
    float: left;
    margin-right: 5px;
    width: 43px;
}
.Rooms {
    float: left;
    margin-right: 20px;
}
.location input {
    width: 373px;
}
.location .input-bg select {
    width: 100% !important;
}
.carnote {
    color: #333;
    font-size: 10px;
    margin-top: 20px;
}
.driverage {
    color: #fff;
}
.driverage div {
    float: left;
}
.driverage input {
    margin-right: 2px;
    position: relative;
    top: 2px;
    width: auto;
}
.drivrinput {
    margin-bottom: 10px !important;
    width: 50px !important;
}
.drivrchkbx {
    color: #000;
    margin-right: 20px;
    margin-top: 5px;
}
.welcmtxt {
}
.ico-close {
    background: rgba(0, 0, 0, 0) url("../images/icoclose.png") repeat scroll 0 0;
    display: none;
    height: 24px;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 24px;
}
.navstky {
    position: fixed;
    right: 0;
    top: 200px;
}
.inr-wrap {
    margin: auto;
    width: 90%;
    padding-bottom:50px;
}
.inr-logo {
    float: left;
    margin: 8px 0 0;
}
.inr-logo img {
    width: 80%;
}
.socialicos {
    float: left;
}
.hdr-links {
    color: #999999;
    float: right;
    margin-top: 5px;
}
.hdr-links ul li a {
    color: #999999;
    text-decoration: none;
}
.hdr-links ul li a:hover {
    color: #e30513;
}
.hdr-links ul li {
    border-right: 1px solid #999999;
    float: left;
    padding: 0 8px;
}
.last {
    border-right: medium none !important;
}
.socialicos a {
    display: inline-block;
    margin-top: 2px;
}
.modsrch {
    background: #e30513 none repeat scroll 0 0;
    color: #fff;
    padding: 5px 5%;
    width: 90%;
}
.trmconds {
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
}
.urscrh {
    float: left;
    margin-top: 3px;
}
.modsrch button {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #e30513;
    float: right;
    font-size: 13px;
    height: auto !important;
    padding: 5px 15px;
    text-align: center;
    text-transform: capitalize;
}
.modsrch img {
    display: none;
}
.btn-filter {
    display: none;
}
.brd-crms li {
    display: inline-block;
    padding: 2px 3px 0;
}
.brd-crms {
    background: #eaeaea none repeat scroll 0 0;
    padding: 5px 0 5px 9px;
}
.brd-crms span {
    float: left;
    padding: 0 6px 0 0;
}
.brd-crms span a {
    color: #333;
    float: left;
    text-decoration: none;
}
.fliters {
    float: left;
    margin: 8px 0 15px;
}
.fltbtn {
    background: #fff none repeat scroll 0 0;
    border-bottom: 2px solid #ccc;
}
.fltbtn:hover {
    border-bottom: 2px solid #e30513;
}
.fltopts {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #555;
    left: 4px;
    max-height: 300px;
    min-width: 165px;
    overflow-y: auto;
    padding: 10px 10px 5px;
    position: absolute;
    top: 24px;
    z-index: 99999;
}
.fltopts li {
    float: none !important;
    margin: 5px 0;
}
.fltbtn a {
    color: #333333;
    display: block;
    padding: 0 20px 2px 5px;
    position: relative;
    text-decoration: none;
}
.fltbtn a:hover {
    text-decoration: none;
}
.ico-drpdwn {
    background: rgba(0, 0, 0, 0) url("../images/ico-drpdwn.png") no-repeat scroll 0 0;
    display: block;
    height: 10px;
    position: absolute;
    right: 5px;
    top: 6px;
    width: 10px;
}
.fliters ul li {
    float: left;
    padding: 0 7px 0 0;
    position: relative;
}
.fliters ul li select {
    margin-bottom: 0;
}
.carlist {
    margin-top: 20px;
    width: 100%;
}
.carlist h3 {
    color: #333333;
    line-height: 2;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}
.checkotcrnm {
    font-size: 14px;
    margin-top: 10px;
}
.carlist h3 span, .notific span {
    color: #e30513;
    font-weight: bold;
}
.listbox {
    float: left;
    margin-right: 10px;
    padding-bottom: 20px;
    text-align: center;
    width: 236px;
}
.listcont {
    border: 1px solid #cbcbcb;
    width: 99%;
}
.pnts {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #404040 48%, #272727 50%) repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    padding: 7px;
    text-align: center;
}
.pnts span {
}
.listimg {
    text-align: center;
}
.crname h2 {
    color: #e30513;
    font-weight: bold;
    text-transform: capitalize;
}
.crname {
}
.crname span {
}
.specicos {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #cbcbcb;
    margin-top: 8px;
    padding: 5px 10px;
}
.specicos li {
    border-bottom: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
    float: left;
    height: 40px;
    text-align: left;
    width: 49%;
}
.specicos img {
    margin-left: 10px;
    position: relative;
    top: 7px;
}
.nobdrR {
    border-right: medium none !important;
}
.nobdrB {
    border-bottom: medium none !important;
}
.flgtbrd {
    background: #e1e2e3 none repeat scroll 0 0;
    color: #7d7d7d;
    padding: 1px 5px;
    text-align: left;
}
.flt-oneway {
    border-bottom: 3px solid #ccc;
}
.flt-returnway {
    background: #fff none repeat scroll 0 0;
}
.flgtcred h1 {
    color: #595959;
    line-height: normal;
    margin: 0;
}
.flgtcred {
    padding: 10px 0;
}
.flgtcred h2 {
    line-height: 15.8px;
}
.notific {
    color: #333333;
    line-height: 2;
    margin: 5px  0;
    text-align: left;
    text-transform: uppercase;
}
.flticon {
    float: left;
    width: 44%;
}
.flticon img {
    margin-top: 5px;
}
.flticon div {
    float: left;
    width: 32%;
}
.ico-dwn {
    float: left;
    margin-top: 7px;
    width: 16%;
}
.flt-stps {
    float: left;
    width: 40%;
}
.pkdttm {
    float: left;
}
.dpdttm {
    float: left;
    /*margin-left: 12px;*/
}
.pkdate input {
    margin-right: 5px;
    width: 90px;
}
.aciveFlight {
    background: #e3152a url("../images/nav-fltg-r.png") no-repeat scroll 28px 16px;
    color: #fff !important;
}
.aciveHotel {
    background: #e3152a url("../images/nav-hotl-r.png") no-repeat scroll 29px 14px;
    color: #fff !important;
}
.aciveCar {
    background: #e3152a url("../images/nav-car-r.png") no-repeat scroll 29px 16px;
    color: #fff !important;
}
.hidePannel {
    display: none;
}
.fl-way input[type="radio"] {
    margin: 2px 4px 2px 0;
    width: auto !important;
}
.fl-way {
    float: left;
    margin-bottom: 3%;
}
.fl-way > span {
    color: #000;
    float: left;
    margin-right: 10px;
    width: auto;
}
.Hotel_Details_back {
    background-color: #242424;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9991050;
}
.Car_Details_Cotent {
    background-color: transparent;
    border-radius: 2px;
    color: #000;
    display: block;
    height: 510px;
    padding: 0;
    position: fixed;
    top: 6%;
    width: 80%;
    z-index: 2147483647;
}
.hidecontent {
    display: none;
    float: left;
    margin-bottom: 2%;
    width: 100%;
}
.otherInfo_upperdiv {
    background-color: #fff;
    float: left;
    height: 500px;
    margin: 0 0 1%;
    overflow: hidden;
    padding: 25px;
    width: 99%;
}
.rentalInfo_div {
    clear: both;
    float: left;
    height: 500px;
    padding: 1%;
    width: 98%;
}
.domstic {
    float: left;
    margin-right: 7px;
}
.onewayhdr {
    border: 1px solid #999;
    float: left;
    height: 148px;
    padding-top: 25px;
    width: 30px;
}
.domsstps {
    border: 1px solid #cbcbcb;
    float: left;
    text-align: center;
    width: 230px;
}
.flyselct {
    background: #666 none repeat scroll 0 0;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.flyselct:hover {
    background: #e30513 none repeat scroll 0 0;
    cursor: pointer;
}
.stky-nav {
    background: #dfdfdf none repeat scroll 0 0;
    padding: 5px;
    position: fixed;
    right: 0;
    top: 87px;
    z-index: 2;
}
.brbtmno {
    border: medium none !important;
}
.stky-nav ul li {
    border-bottom: 1px solid #bebebe;
    padding: 6px 2px;
}
.stky-home {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-home.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-home:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-home-r.png") repeat scroll 0 0;
}
.stky-fltg {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-fltg.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-fltg:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-fltg-r.png") repeat scroll 0 0;
}
.stky-hotl {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-hotl.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-hotl:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-hotl-r.png") repeat scroll 0 0;
}
.stky-car {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-car.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-car:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-car-r.png") repeat scroll 0 0;
}
.stky-vouc {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-vouc.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-vouc:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-vouc-r.png") repeat scroll 0 0;
}
.stky-gftvouc {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-gftvchr.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-gftvouc:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-gftvchr-r.png") repeat scroll 0 0;
}
.stky-shp {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-shp.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-shp:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-shp-r.png") repeat scroll 0 0;
}
.stky-blpay {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-blpay.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-blpay:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-blpay-r.png") repeat scroll 0 0;
}
.stky-barca {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-barca.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-barca:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-barca-r.png") repeat scroll 0 0;
}
.stky-celeb {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-celeb.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-celeb:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-celeb-r.png") repeat scroll 0 0;
}
.fixedBot-tripSumm {
    bottom: 0;
    box-shadow: 0 -5px 5px 0 rgba(196, 196, 196, 1);
    left: 0;
    padding-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 200;
}
.trpsum-flthdr {
    background: #272727 none repeat scroll 0 0;
    margin: 0 auto;
    padding: 12px 0 7px;
    width: 100%;
    z-index: 10;
}
.trpsum-flthdr ul li {
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}
.trpsum-flthdr-L {
    display: inline-block;
    margin: 0 0 0 2%;
    width: 38%;
}
.trpsum-flthdr-R {
    display: inline-block;
    margin: 0 0 0 2%;
    width: 28%;
}
.trpsum-flthdr-Miles {
    display: inline-block;
    margin: 0 2%;
    width: 25%;
}
.trpsum-flthdr-Miles button {
    height: 29px;
    padding: 0 10px;
}
.trpttlsum {
    float: left;
    padding-top: 8px;
}
.trpsum-btnBook {
    display: inline-block;
    margin: 0 2%;
    padding: 0;
    text-align: right;
    width: 16%;
}
.trpsum-btnBook .btn button {
    padding: 0 15px;
}
label.trpsum-city {
    color: #fff;
    display: inline-block;
}
.trpsum-To {
    color: #fff;
    display: inline-block;
    margin: 0 3px;
}
.trpsum-flthdr-L img, .trpsum-flthdr-R img {
    display: inline;
    float: left;
    padding: 0 5px 0 0;
}
label.trpsum-miles {
    color: #fff;
}
label.trpsum-miles-type {
    color: #fff;
}
.trpmils {
    color: #e30513;
    float: left;
    margin-left: 20px;
}
.trpsum-flt-logo {
    float: left;
    text-align: center;
    width: 16%;
}
.trp-fltsumm-info {
    background: #fff none repeat scroll 0 0;
    margin: 0 auto;
    padding: 10px 0 18px;
    width: 100%;
}
.trpsum-flt-oneway {
    float: left;
    margin: 0 0 0 2%;
    width: 38%;
}
.trpsum-flt-twoway {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin: 0 0 0 2%;
    width: 38%;
}
.fltsumm-col-1 {
    float: left;
    width: 28%;
}
.fltsumm-col-2 {
    float: left;
    width: 28%;
}
.fltsumm-col-3 {
    float: left;
    text-align: right;
    width: 28%;
}
.trpsumm-totalmiles {
    color: #fff;
}
.trpsum-miletype {
    color: #fff;
    padding-left: 3px;
}
.summ-btnbook {
    margin: 54px 0 0;
    padding-left: 3px;
}
ul.fltsumm-dtrow li {
    clear: both;
    color: #505050;
    line-height: 13px;
    margin: 5px 0;
}
ul.fltsumm-dtrow li:first-child {
    margin-top: 0;
}
.trpsum-fltname {
    color: #000;
}
.trpsum-c-arrow {
    display: inline;
    margin: 0 12px;
}
.summ-dprtc {
    color: #000;
    font-size: 1.2em;
}
.fltmiles {
    color: #114a84;
    font-size: 1.2em;
}
.trpsum-dprtdate {
    color: #000;
}
.summ-arrvdate {
    color: #000;
    font-size: 1.1em;
}
.trpsum-c-code {
    color: #000;
}
.trpsum-fltcode {
    color: #454545;
    font-size: 0.9em;
}
.trpsum-dprtime {
    float: left;
    font-size: 1em;
    margin: 0 36px 0 0;
}
.trpsum-arrvtime {
    font-size: 0.9em;
}
.checkout {
    margin-top: 20px;
}
.checkout .col1 {
    margin-bottom: 100px;
}
.checkoutheader {
    border: 1px solid #aeaeae;
}
.checkoutheader p {
    margin: 10px;
}
.checkoutheader h1 {
    background: #d7d7d7 none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 3px 2%;
    width: 96%;
}
.passenger-block {
    padding: 2% 2% 0;
}
.passenger-block div {
    margin-right: 18px;
}
.passenger-block h2 {
    color: #e30e27;
    font-weight: bold;
    margin-bottom: 7px;
}
.passenger-block .title {
    float: left;
    width: 20%;
}
.passenger-block .name {
    float: left;
    width: 32%;
}
.passenger-block .other {
    float: left;
    width: 28%;
}
.title > input, .name input {
    width: 100%;
}
.title .input-bg {
    border: 1px solid #d0d0d0 !important;
    margin-right: 0 !important;
    padding: 6.5px 4px;
    width: 100%;
}
.title .input-bg {
}
.title select {
    width: 100%;
    padding:4px;
}
.checkoutheader button {
    float: right;
    margin: 10px;
}
.textarea {
    width: 88%;
}
.textarea textarea {
    width: 100%;
}
.carwidget {
    padding-right: 25px;
    width: 710px;
}
.col1 {
    float: left;
    width: 56%;
    padding-bottom:50px;
}
.col2 {
    float: left;
    padding-left: 4%;
    width: 38%;
}
.orderSum {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #aeaeae #aeaeae -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin-top: 0;
    width: 100%;
}
.orderSum h3 {
    background: #d7d7d7 none repeat scroll 0 0;
    border-bottom: 1px solid #aeaeae;
    color: #333;
    font-size: 16px;
    line-height: 24px !important;
    margin: 0;
    padding: 3px 2%;
    width: 96%;
}
.orderSum h2 {
    color: #000;
    font-size: 14px;
}
.orderSum h3 span {
    color: #999;
    float: right;
    font-size: 12px;
    padding-right: 2%;
}
.edit a {
    margin-left: 20px;
    text-decoration: underline;
}
.shopping-list {
}
.shopping-list ul {
    margin-bottom: 0;
}
.shopping-list li {
    border-bottom: 1px solid #aeaeae;
    padding: 2%;
}
.shopping-list .total {
    color: #ed1c24;
}
.shopping-list .total .amt {
    text-align: right;
    width: 125px;
}
.shopping-list .total .amt span span {
    color: #e30e27;
}
.shopping-list .total .txt {
    text-align: right;
    width: 60px;
}
.flight .shopping-list li {
    padding: 3% 2% 5%;
}
.flight .shopping-list .total {
    padding: 2%;
}
.flight .col-1 {
    float: left;
    margin-top: 7px;
    text-align: center;
    width: 15%;
}
.flight .col-2 {
    float: left;
    margin-left: 0;
}
.flight .col-2 .item-Name, .flight .col-4 .item-Name, .flight .col-3 {
    float: left;
    margin-top: 7px;
}
.flight .col-2 .item-Name a, .flight .col-4 .item-Name a {
    font-size: 1.3em;
}
.flight .col-2 .item-Name, .flight .col-4 .item-Name, .flight .col-3 {
    line-height: 21px;
    margin-top: 7px;
}
.flight .col-2 .item-Name a, .flight .col-4 .item-Name a, .flight .col-2 .item-Name, .flight .col-4 .item-Name {
    font-size: 14px;
    font-weight: bold;
}
.shopping-list .item-Name {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    width: 100%;
}
#CP_lblarrival {
    display: block;
    margin-top: 0;
}
.flight .col-2, .flight .col-4 {
    float: left;
    width: 26%;
}
.flight .col-4 {
    margin-left: 13%;
}
.flight .col-3 {
    text-align: center;
    width: 18%;
}
.flight .shopping-list .col-1 img {
    height: 35px;
}
.flight .shopping-list .total {
    color: #000;
}
.flight .shopping-list .total .loca {
    color: #666;
    font-size: 13px;
}
.shopping-list p {
    color: #666;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 5px;
}
.total .ftr {
    color: #333;
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.flt-details-H {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #404040 48%, #272727 50%) repeat scroll 0 0;
    border-bottom: 1px solid #cccccc;
    height: 27px;
}
.flt-details-H .air-logo {
    width: 19%;
}
.flt-details-H .air-logo, .flt-details-H .flt-code, .flt-details-H .stopDtail-1, .flt-details-H .total-hrs, .flt-details-H .stopDtail-2 {
    color: #fff;
    padding: 0.5% 1%;
}
.flt-details-L {
    float: left;
    margin: 0;
    width: 100%;
}
.flt-details-R {
    float: left;
    margin: 0 0 0 1%;
    text-align: center;
    width: 14%;
}
.air-logo {
    float: left;
    padding: 1%;
    position: relative;
    vertical-align: middle;
    width: 5%;
}
.air-logo img {
    border-radius: 20px;
}
.stopDtail-1 {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    float: left;
    padding: 1%;
    position: relative;
    vertical-align: middle;
    width: 32%;
}
.stopDtail-2 {
    border-left: 1px solid #000;
    float: left;
    padding: 1%;
    position: relative;
    vertical-align: middle;
    width: 32%;
}
.stopCity {
    clear: both;
    color: #505050;
    font-size: 1.2em;
    min-height: 36px;
    text-align: left;
    width: 100%;
}
.stopCode {
    clear: both;
    color: #989ba2;
    font-size: 0.9em;
    padding: 0;
    text-align: left;
    width: 100%;
}
.stopCode .flt-date {
    font-size: 0.9em;
}
.stopDateTime {
    color: #505050;
    display: table-cell;
    font-size: 1em;
    margin: 0 0;
    vertical-align: middle;
}
.total-hrs {
    color: #505050;
    float: left;
    font-size: 1em;
    padding: 1%;
    text-align: center;
    vertical-align: middle;
    width: 8%;
}
.flt-comp {
    color: #505050;
    font-size: 0.9em;
}
.flt-carrier {
    font-size: 0.9em;
}
.flt-code {
    color: #989ba2;
    float: left;
    font-size: 1em;
    padding: 0.5% 1%;
    text-transform: uppercase;
    vertical-align: middle;
    width: 12%;
}
.flt-details .miles {
    color: #f58e31;
    display: table-cell;
    font-size: 3.2em;
    margin: 1% 0 0;
    padding: 32px 0 3px 11px;
    text-align: center;
    vertical-align: middle;
}
.flt-details .pointsWay {
    color: #17457d;
    font-size: 1.8em;
    line-height: 33px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 3px;
}
.flt-layover {
    background-color: #e30513;
    border-right: 1px solid #ccc;
    clear: both;
    color: #fff;
    font-size: 1em;
    padding: 7px;
    text-align: left;
    text-transform: uppercase;
}
.flt-layover span {
    padding: 0 10%;
    text-align: center;
    width: 30%;
}
.flt-layoverR {
    background-color: #dddddd;
    border-right: 1px solid #ccc;
    clear: both;
    color: #818d9a;
    font-size: 1em;
    padding: 7px;
    text-align: left;
    text-transform: uppercase;
}
.flt-layoverR span {
    padding: 0 12%;
    text-align: center;
    width: 30%;
}
.FlightInfo_upperdiv {
    background-color: #fff;
    float: left;
    height: 500px;
    margin: 0 0 1%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 25px;
    width: 99%;
}
.FlightInfo_upperdiv table td {
    padding: 0;
}
.FurtherInfo {
    border: 1px solid;
    clear: both;
    float: left;
    margin: 1%;
    width: 98%;
}
.FurtherInfo table {
    width: 100%;
}
.itenaryEmptyDiv {
    float: left;
    width: 10%;
}
.itenaryContent {
    float: left;
    width: 40%;
}
.btn-filter a {
    background-color: #e30e27 !important;
    border-radius: 5px;
    padding: 6px 15px;
    width: 70px;
}
.detailInfo {
    float: left;
    overflow-y: scroll;
    padding: 2%;
}
.hd-col1 {
    border-right: 1px solid #ccc;
    float: left;
    min-height: 480px;
    padding-right: 1%;
    width: 25%;
}
.hd-col2 {
    float: left;
    margin: 0 1%;
    width: 35%;
}
.hd-col3 {
    border-left: 1px solid #ccc;
    float: left;
    min-height: 480px;
    padding: 0 1%;
    text-align: justify;
    width: 34%;
}
.hotelinfo h1 {
    color: #e30e27;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
}
.ico_phone {
    background-image: url("../images/ico-phone.png");
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    width: 18px;
}
.ico_fax {
    background-image: url("../images/ico-fax.png");
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    width: 18px;
}
.ico_email {
    background-image: url("../images/ico-msg.png");
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    width: 18px;
}
.ico_weblink {
    background-image: url("../images/ico-weblink.png");
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    width: 18px;
}
.hd-banner {
   background: #111 none repeat scroll 0 0;
    overflow: hidden;
    padding-top: 0;
    position: relative;
    text-align: center;
}
.lightgreybg .hd-banner span {
    font-size: 30px !important;
}
.btnPre {
    background-image: url("../images/trans-grybg.png");
    background-repeat: repeat;
    color: #fff;
    cursor: pointer;
    float: left;
    padding: 10px;
    position: absolute;
    top: 105px;
}
.btnNext {
    background-image: url("../images/trans-grybg.png");
    background-repeat: repeat;
    color: #fff;
    cursor: pointer;
    float: right;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 105px;
}
.img_Hotelslider {
    height: 272px;
   
}
.about-hotel {
    height: 190px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 5%;
}
.about-hotel h2 {
    color: #e30e27;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
}
#rptRoomDetails {
    height: 190px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.lightgreybg .hd-banner img {
    display: block;
    width: 100%;
}
.img_Hotelslider {
}
.lightgreybg .hd-banner img {
    display: block;
    width: 100%;
}
.selectroom {
    margin-top: 2px;
}
.selectroom .hdr {
    background: #666666 none repeat scroll 0 0;
    color: #fff;
    padding: 8px 10px;
    text-align: left;
    text-transform: uppercase;
}
.selectroom .body {
    background: #fff none repeat scroll 0 0;
    box-shadow: 1px 1px 1px #ccc;
    font-weight: 500;
    margin-top: 2px;
    padding: 8px 10px;
    text-align: left;
}
.selectroom .body .roomtype {
    float: left;
    width: 40%;
}
.selectroom .body .roomtype p {
    color: #666;
    font-weight: 100;
}
.selectroom .body .roomiles {
    float: right;
    width: 60%;
}
.roomiles .miles {
    color: #e30e27;
    float: left;
    padding-right: 10px;
}
.roomiles button {
    float: right;
    height: auto;
    margin-top: 4px;
    padding: 5px 10px;
}
.AmtStyle, .pointStyle {
    font-size: 14px;
    font-weight: bold;
}
.selectroom .body .button {
    border-left: 1px solid #dbdbdb;
    float: right;
    padding-left: 10px;
}
.fltopts {
    display: none;
}
.mtop20 {
    margin-top: 20px;
}
.contact-links ul {
    float: left;
    width: 100%;
}
.contact-links ul li {
    width: 100%;
}
.contact-links {
    margin: 10px 0;
}
.hd_bnrAmt {
    background: #e30513 none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-weight: bold;
    left: 0;
    padding: 6px 10px;
    position: absolute;
}
.roomtype span {
    color: #666;
}
.incnote {
    color: #666;
}
.about-add-amen h2 {
    color: #e30e27;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
}
.about-add-amen ul {
    float: left;
    margin-right: 60px;
    margin-top: 5px;
}
.about-add-amen li {
    margin-bottom: 10px;
}
.listAmenities {
    width: 49%;
}
.listAmenities img {
}
.listAmenities span {
    position: relative;
    top: 2px;
}
.listAmenities img {
    float: left;
}
.amen-popup {
    float: left;
    margin: 1%;
    width: 30%;
}
.linkAmenities {
    clear: both;
    color: #333;
    cursor: pointer;
    float: left;
    font-size: 13px;
    text-align: right;
    text-decoration: underline;
    width: 100%;
}
.linkAmenities:hover {
    color: #e30513;
}
.dtls-tbls {
    overflow-x: hidden;
    overflow-y: auto;
}
.dtls-tbls thead {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
}
.dtls-tbls tbody {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #000 #000;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    line-height: 30px;
}
.dtls-tbls tbody td, .dtls-tbls thead td {
    border-right: 1px solid #000;
    line-height: 16px;
    padding: 1px 0.5%;
}
.dtls-tbls h3 {
    float: left;
    font-size: 18px !important;
    line-height: 24px;
    width: 80%;
}
.dtls-tbls h4 {
    float: left;
    font-size: 16px !important;
    font-weight: bold;
    margin-top: 0;
}
.main-sections {
    margin: auto;
    padding: 0 0 30px;
    width: 100%;
}
.main-sections a {
    color: #fff;
    display: block;
    position: relative;
    text-decoration: none;
    width: 100%;
}
.main-sections a:hover {
    opacity: 0.9;
}
.link-wht {
    bottom: 10px;
    position: absolute;
    right: 10px;
    text-decoration: underline;
}
.main-sections li {
    float: left;
    margin: 1%;
    width: 23%;
}
.main-sections a img {
    display: block;
    width: 100%;
}
.main-sections .desti-desc {
    font-size: 1em;
    height: 145px;
    line-height: 22px;
    padding: 5%;
    text-align: left;
    width: 90%;
}
.main-sections .desti-name {
    text-transform: uppercase;
}
.learn-more {
    background: rgba(0, 0, 0, 0) url("../images/logo-bg.png") no-repeat scroll center center;
    display: block;
    height: 200px;
    margin-top: 120px;
}
.learn-more .text {
    font-size: 36px;
    font-weight: 100;
    line-height: 36px;
    margin-bottom: 15px;
    padding-top: 133px;
    text-align: center;
}
.infispnd-desti {
    background: #eee none repeat scroll 0 0;
    float: left;
    margin-top: 30px;
    padding: 3px 0 0;
    text-align: center;
    width: 100%;
}
.infispnd-desti h2 {
}
.infispnd-row {
    background: #fff none repeat scroll 0 0;
}
.redbg {
    background: #e30e27 none repeat scroll 0 0;
}
.yellbg {
    background: #e6a602 none repeat scroll 0 0;
}
.greenbg {
    background: #00bb9c none repeat scroll 0 0;
}
.greybg {
    background: #343434 none repeat scroll 0 0;
}
.redcol {
    color: #e30e27;
}
.desti-name {
    padding: 10px 15px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
.desti-desc {
    display: block;
    padding: 7px;
    width: 221px;
}
.acc-transactnsumry select {
    width: auto;
}
#CP_rptExpirySchedule table {
    width: 100%;
}
.myaccContent {
    float: left;
    padding: 1% 0 30px;
    width: 100%;
}
.statcpgCont {
    float: left;
    padding: 0 0 30px;
    width: 100%;
}
.myacc-upperhdr {
    margin: 0;
    padding: 0;
    width: 100%;
}
.myacc-hdrdiv {
    background: #666 none repeat scroll 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 11px 0 11px 12px;
    text-transform: uppercase;
}
.filter .myacc-menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #c0c3cb #c0c3cb;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    float: left;
    width: 99.3%;
}
.filter .myacc-menu li {
    list-style-type: none;
    padding: 0;
}
.filter .myacc-menu li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #aaaaaa;
    color: #666;
    float: left;
    font-size: 13px;
    line-height: 40px;
    padding: 0 0 0 8%;
    text-align: left;
    text-decoration: none;
    width: 92%;
}
.filter .myacc-menu li a:hover {
    background: rgba(0, 0, 0, 0) url("../images/ico-myaccarro.jpg") no-repeat scroll 12px center;
    border-bottom: 1px solid #e30e27;
    color: #e30e27;
}

.checkboxs input {
    position: relative;
    top: 2px;
}
.filter .myacc-menu li a.select {
    background: rgba(0, 0, 0, 0) url("../images/ico-myaccarro.jpg") no-repeat scroll 12px center;
    border-bottom: 1px solid #e30e27;
    color: #e30e27;
}
.filter .myacc-menu li a.last-child {
    border-bottom: medium none;
}
.myacc-conthdr {
    float: left;
    font-size: 13px;
    margin: 0 0 0 2%;
    padding-bottom:50px;
    width: 72%;
}
.myacc-user {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #aaaaaa;
    margin: 2px 0 0;
    padding: 6px 0 8px 1%;
}
.myacc-user label.username {
    color: #343434;
    display: inline;
    text-transform: none;
}
.myacc-user label.logindtl {
    color: #343434;
    float:right;
    display: inline;
    margin: 0 1% 0 0;
    text-transform: none;
}
.myacc-banr {
    display: block;
    margin: 1% 0 0;
    width: 100%;
}
.myacc-milesdiv {
    background: #666 none repeat scroll 0 0;
    color: #fff;
    margin: 1% 0 0;
    padding: 6px 0 8px 2%;
}
.myacc-milesdiv label {
    display: inline;
    font-size: 1.4em;
}
.sumry-tbl {
    margin: 0 0 !important;
    overflow: auto;
    padding: 0;
    width: 100%;
}
.sumry-tbl table td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.sumry-tbl table {
    border: 1px solid #aaa;
    width: 100%;
}
.sumry-tbl .tbl_th {
    background: #626262 none repeat scroll 0 0;
    vertical-align: middle;
}
.sumry-tbl .th-block {
    color: #fff;
    font-size: 1em;
    padding: 10px 0;
    text-align: center;
}
.sumry-tbl .th-block-left {
    color: #fff;
    padding: 10px 0 10px 3%;
    text-align: left;
}
.sumry-tbl .th_bg {
    background: #666 none repeat scroll 0 0 !important;
}
.sumry-tbl .row-earn {
    background: #f4f4f4 none repeat scroll 0 0 !important;
}
.sumry-tbl .row-lghtgrey {
    background: #f4f4f4 none repeat scroll 0 0 !important;
}
.sumry-tbl .row-closemiles {
    background: #ddd none repeat scroll 0 0 !important;
}
.sumry-tbl .td-block-left {
    color: #343434;
    line-height: 18px;
    padding: 10px 0 10px 3%;
    text-align:left;
}
.sumry-tbl .td-block {
    color: #343434;
    line-height: 18px;
    padding: 10px 0;
    text-align: center;
}
.sumry-tbl .td-block-rght {
    color: #343434;
    line-height: 18px;
    margin: 0 20% 0 0;
    padding: 10px 0;
    text-align: right;
}
.sumry-tbl label.ttlmile {
}
.sumry-tbl a.link {
    color: #000;
    text-decoration: underline;
}
.vmid {
    vertical-align: middle;
}
.myacc-statmntdtl {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #aaaaaa;
    clear: both;
    color: #343434;
    cursor: pointer;
    margin: 8px 0 0;
    padding: 6px 0 2px 1%;
}
.myacc-statmntdtl span.click {
    float: right;
    margin: 0 10px 0 0;
}
.acc-transactnsumry {
    border: 1px solid #ccc;
    display: block;
    padding: 10px;
}
.acc-trnsactn-type {
    display: inline;
    margin: 0 3% 0 0;
}
.acc-trnsactn-type label {
    color: #343434;
    display: inline;
    margin: 0 5px;
    text-transform: none;
}
.myacc-bknghdr:first-child {
    margin: 2px 0 0;
}
.myacc-bknghdr {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #aaaaaa;
    color: #343434;
    margin: 1% 0 0;
    padding: 6px 0 8px 1%;
}
.myacc-bknghdr span.click {
    float: right;
    margin: 0 10px 0 0;
}
.myacc-bkngtbl {
    margin: 0;
}
.static-page-hdr {
    float: left;
    margin: 0 0 0 2.5%;
    padding: 0;
    width: 97.5%;
}
.myacc-login {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cabfb7;
    margin: 0;
    padding: 4% 2%;
    width: 70%;
}
.myacc-login li {
    display: table-cell;
    list-style: outside none none;
    margin: 0 0 2%;
    vertical-align: middle;
}
.myacc-login li.label {
    color: #505050;
    /*float: left;*/
    font-size: 14px;
    text-transform: none;
    width: 22%;
}
.myacc-login li.input {
    /*float: left;*/
    width: 50%;
}
.myacc-login li.signup {
    color: #505050;
    float: left;
    font-size: 0.9em;
    margin: 1% 0 0;
    text-transform: none;
    width: 25%;
}
.myacc-login li.loginbtn {
    margin: 2% 0 0;
}
.myacc-login li ul.chkbxtxt {
    margin: 0;
}
.myacc-login .chkbxtxt li {
    display: table-cell;
    margin: 0;
}
.myacc-login .chkbxtxt li span {
    color: #343434;
    text-transform: none;
}
.myacc-login .chkbxtxt li a {
    color: #343434;
    font-size: 0.8em !important;
    text-decoration: underline;
}
.myacc-login ul.loginlinks {
    margin: 6% 0 0;
}
.myacc-login .loginlinks li {
    display: block;
    font-size: 0.8em;
    margin: 0;
    padding: 0 3px;
}
.myacc-login .loginlinks li a {
    margin: 0;
    text-decoration: underline;
}
.myacc-login .loginlinks li a:hover {
    margin: 0;
    text-decoration: none;
}
.myacc-login.rgistrcontent {
    margin: 3% 0 0;
    width: auto;
}
.filter {
    float: left;
    width: 25%;
}
.nwpg-hdr {
    border-right: 4px solid #e30513;
    float: right;
    margin-top: 5px;
    padding-right: 5px;
}
.nwpg-hdrnm {
    font-size: 16px;
    text-align: right;
}
.ttlprds {
    color: #888;
    text-align: right;
}
.SpanPriceRange {
    float: left;
    text-align: center;
    width: 100%;
}
.listHotel > img {
    vertical-align: bottom;
}
.listHotel {
    line-height: 20px;
}
.TabUpper {
    float: left;
    width: 100%;
}
.ActTab {
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-weight: bold;
    padding: 2% 0;
    text-align: center;
    width: 50%;
}
.InActTab {
    background: #eaeaea none repeat scroll 0 0;
    border: medium none;
    color: #333;
    cursor: pointer;
    float: left;
    padding: 2% 0;
    text-align: center;
    width: 50%;
}
.TabBodyWrapper {
    float: left;
    padding: 2% 4%;
    width: 92%;
}
.charityWidg {
    display: none;
}
.error-bg {
    background: #fff none repeat scroll 0 0;
    clear: both;
    color: red;
    font-size: 12px;
    margin-top: 10px;
    padding: 6px 15px 6px 6px;
    text-align: left;
}
.Utility li, .Utility li label {
    display: inline-block;
    float: left;
    margin-right: 3%;
}
.Utility {
    float: left;
    margin: 2% 0;
    width: 100%;
}
.billpay {
    height: 513px !important;
    padding: 0 !important;
}
.servindx label, .modify-srh label, .chidUppe span {
    color: #000;
    font-size: 11px;
    text-align: left;
}
.stky-nav1 {
    display: none;
}
#MenuLogin {
    float: left;
}
.iconLogin {
    float: left;
}
.acc-trnsactn-type > input {
    margin-right: 5px;
    vertical-align: text-top;
}
.ForgotLine {
    border-right: 1px solid #656565;
    margin-right: 4px;
    padding-right: 10px;
}
.txtColorWhite {
    color: #fff;
}
.iconLogin {
    display: none;
}
#tblChangePwd td {
    border: medium none !important;
}
@media screen and (max-width: 980px) {
.slicknav_menu {
    border-bottom: 1px solid #222;
    display: block;
}
.ftr-menu ul li a:hover, .actlnk {
    padding: 5px 10px !important;
}
.servindx {
    width: 100%;
}
.servindx .tabbertab {
    height: auto;
    margin-bottom: 6px;
    padding: 0;
    width: 100%;
}
.tabbertabVoucher {
    height: auto !important;
    padding: 0 !important;
    width: 100% !important;
}
.servindx-bnr {
    display: none;
}
.modify-srh select {
    padding: 2px 5px;
}
.ftrcont {
    width: 100%;
}
.inr-logo {
    text-align: center;
    width: 100%;
}
.inr-logo img {
    width: auto;
}
.copyryts {
    border-left: medium none;
    height: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
#fnav {
    display: none;
}
#nav {
    display: block;
}
#nav {
    display: none;
}
.ftr-menu {
    float: none;
    margin: 0;
}
.ftr-menu .ftrbtn {
    background: #000 none repeat scroll 0 0;
    float: none;
    margin: 0;
    padding: 10px;
}
.footer {
    height: auto;
    padding: 0;
    width: 100%;
}
}
@media screen and (max-width:500px) {
.checkout .col1, .checkout .col2{margin-bottom:20px;}
}
@media screen and (max-width: 767px) {
.rdmon-bg .tabbertab {
    margin: 5%;
}
.location .input-bg {
    padding: 6px 5px 6px 0;
    width: 94%;
}
.dpdttm {
    margin-left: 0;
}
.chidUppe {
    margin-right: 5px;
    width: 46%;
}
.footer {
    position: static;
}
.hdr-links ul li {
    background: #000 none repeat scroll 0 0 !important;
}
.btn-filter {
    background: #e30e27 none repeat scroll 0 0;
    border: 1px solid #c8c1b9;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 13px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 7px;
    padding: 10px;
    
    width: 50px;
}
.modify-srh {
    background-repeat: repeat;
    /*height: 350px;*/
    margin: 6px auto 0;
    padding: 3% 2% 3% 5%;
    width: 94%;
}
.tabbertab {
    background: #e3152a none repeat scroll 0 0;
    padding: 10px 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 90%;
    z-index: 2;
}
.from {
    margin-right: 4%;
    width: 46%;
}
.desti {
    margin-right: 4%;
    width: 96%;
}
.dates {
    margin-right: 4%;
    width: 46%;
}
.flightinput {
    margin-right: 4%;
    width: 46%;
}
.modify-srh input {
    margin: 0;
    padding: 7px 5%;
    width: 90%;
}
.input-bg {
    margin: 0;
}
.Passengers .cols {
    width: 33%;
}
.modify-srh input, .modify-srh .input-bg {
    margin-bottom: 10px;
}
.Passengers .input-bg {
    margin-bottom: 5px;
}
.ico-close {
    display: block;
}
.Rooms {
    margin-right: 0;
    width: 100%;
}
.country, .city {
    margin-right: 4%;
    width: 46%;
}
.pktime {
    width: 45%;
}
.pkdate {
    margin-right: 4%;
    width: 46%;
}
.driverage input {
    width: auto;
}
.logo a {
    margin: 20px auto;
}
.bnr-txt h1 {
    color: #000;
    font-size: 28px;
}
.bnr-txt {
    margin-top: 0;
    text-align: center;
    width: 100%;
}
.welcmtxt {
    display: none;
}
.bnr-txt p {
    font-size: 13px;
}
.indx-bg {
    height: auto;
}
.ftr-menu {
    float: none;
    margin: 0;
}
.rdmon-bg {
    margin: 15px 1%;
    width: 98%;
}
.icns-nav ul li {
    float: left;
    margin: 0;
    width: 33.3%;
}
.icns-nav ul li a {
    background-position: center 12px;
    text-decoration: none;
    width: 100%;
}
.icns-nav ul li a:hover {
    background-position: center 12px;
    text-decoration: none;
}
.rdmon-bg h2 {
    text-align: center;
}
.icns-nav {
    margin-top: 10px;
}
.fliters ul li {
    clear: both;
    float: left;
    margin: 2% 0;
    padding: 0 10px 0 0;
    position: relative;
    width: 100%;
}
.fltopts {
    border: medium none;
    box-shadow: none;
    display: block;
    left: 0;
    max-height: none;
    padding: 10px 10px 5px;
    position: relative;
    top: 0;
    width: 120px;
}
.fliters {
    display: none;
}

.flt-divR {
    height: auto !important;
}
.spendUpper {
    width: 100%;
}
.infispnd-desti {
    padding-bottom: 100px;
    width: 100%;
}
h4 {
    font-weight: 100;
    line-height: normal;
    margin: 0;
}
.inr-wrap {
}
.inr-hdrn {
    padding: 0 1%;
    width: 98%;
}
.urscrh {
    float: left;
    margin-top: 0;
    width: 89%;
}
.modsrch button {
    display: none;
}
.modsrch img {
    display: block;
}
.modsrch {
    padding: 4px 1%;
    width: 98%;
}
.nwpg-hdr {
    margin-right: 0;
    margin-top: 14px;
    padding-right: 5px;
}
.hd-col1, .hd-col2, .hd-col3 {
    clear: both;
    float: none;
    min-height: auto !important;
    width: 99%;
}
.about-hotel, #rptRoomDetails {
    height: auto !important;
}
.roomiles button {
    float: left;
}
.passenger-block .name {
    float: left;
    width: 92%;
}
.passenger-block .title {
    float: left;
    width: 100%;
}
.passenger-block .other {
    float: left;
    width: 100%;
}
.notific {
    font-size: 8px;
}
#PassengerCotainer, .dtls-tbls {
    height: auto;
}
.iconLogin {
    cursor: pointer;
    display: block;
    float: right;
}
.hdr-links > ul {
    background: #fff none repeat scroll 0 0;
    clear: both;
    display: none;
    float: right;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 1234567890;
}
.hdr-links ul li {
    background-color: #999;
    border-bottom: 1px solid #505050;
    border-right: 0 none;
    color: #fff;
    float: none;
    padding: 7px 7px 7px 25px;
    text-align: right;
}
.hdr-links ul li a, .hdr-links ul li a:hover {
    color: #fff;
}
.flt-details-H {
    display: none;
}
.FlightInfo_upperdiv {
    padding: 0;
    width: 100%;
}
.FurtherInfo table {
    width: 100%;
}
.FurtherInfo {
    width: 97%;
}
.flt-layover span {
    padding: 0 3%;
}
.flt-layover > img, .total-hrs, .flt-comp {
    display: none;
}
.air-logo img {
    height: 25px;
    width: 85%;
}
.air-logo, .flt-code {
    width: 10%;
}
.stopDtail-2, .stopDtail-1 {
    border: medium none;
}
.stopCity {
    font-size: 0.9em;
}
.stopCode {
    font-size: 0.8em;
}
}
.nwhdr {
    font-size: 16px;
}
.nwhdr1 {
    font-size: 18px;
    margin-top: 10px;
}
.hotels {
    margin-top: 20px;
}
.infiparts li {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 1%;
    padding: 20px;
    width: 19%;
}
.infiparts img {
    width: 100%;
}
.infiparts {
    text-align: justify;
}
.openAd {
    background: #ccc url("../Images/minus.png") no-repeat scroll right center !important;
    color: #000;
}
.expand {
    background: #fff url("../Images/plus.png") no-repeat scroll right center;
    color: #000;
}
.pntsvalue {
    line-height: 17px;
    text-align: left;
    width: 113px;
}
.stky-meet {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-meetgreet.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-meet:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-meetgreet-r.png") repeat scroll 0 0;
}
.stky-tour {
    background: rgba(0, 0, 0, 0) url("../images/stky-tour-nav.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-tour:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-tour-nav-r.png") repeat scroll 0 0;
}
.stky-paybyPoint {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-PayPoint.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-paybyPoint:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-PayPoint-hvr.png") repeat scroll 0 0;
}
.stky-cash {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-cashback.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.stky-cash:hover {
    background: rgba(0, 0, 0, 0) url("../images/stky-nav-cashback-r.png") repeat scroll 0 0;
}







.tourtrvdts .title{width:15%;}

.tourtrvdts .passenger-block .name{width:28%;}
.tourtrvdts .trage {
    width: 12% !important;
}
.tourtrvdts .name{width:30%;}
.tourtrvdts .title select{padding:5px;}

.tourtrvdts input, .tourtrvdts select{margin-bottom:0px;}
.title > input, .name input {
    padding: 5px 2%;
    width: 96%;
}
.tourtrvdts div{margin-right:2%;}
.trchkbx input
{
    width:auto;
    }
    
    .tourtrvdts hr{
     margin: 30px 0 5px;
    }
    
    .fntred{
      color: #e30e27;
    }
    
    .trrwcfm table thead td{background:#666666; color:#fff}
    
.checkboxs > div {
    
    margin-bottom: 10px;
}


.trrtng b{float:left;}

.trrtng .stars{float:left;}

 @media screen and ( max-height:600px ){
    .footer{position:static;}
}

@media screen and ( max-height:768px ){
.hd-col3{margin-bottom:10px;}
}

@media screen and ( max-width:1000px ){
.stky-nav1 {
    background: #ccc none repeat scroll 0 0;
    display: block;
    cursor:pointer;
    position: fixed;
    right: 0;
    top: 70px;
    z-index: 999;
}
.stky-nav {
    margin-right: -50px;
    top: 70px;
}
}

.contbg {
    background: rgba(0, 0, 0, 0) url("../images/contactbg.jpg") repeat-x scroll 0 0;
    height: 560px;
    position: relative;
    width: 100%;
}
.contwrap {
    margin: 0 auto;
    padding-top: 100px;
    width: 80%;
}
.contctxt h2{
    font-size:24px;
    color:#fff;
    font-weight:bold;
}
.contctxt {
    width:70%;
}

.contctxt img {
    position: relative;
    top: 9px;
}
    .contctxt hr {
margin-bottom:15px;
background:#fff;
border:none;
height:1px;

    }

    .contctxt p {
        color: #fff;
        font-size: 14px;
    }

.contredbx {
    background:#e30e27;
    padding:20px;
}
.contredbx {
    background: #e30e27 none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    padding:30px 20px;
    width: 340px;
    float:left;
    margin-top:25px;
}
    .contredbx p {
    line-height :24px;}


.getin {
    color: #fff;
    float: left;
    margin-left: 18px;
    margin-top: 26px;
}
.getin h2 {
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 9px;
}

.repeaterPageingNumberTab {
    padding-right: 20px;
}
.repeaterPageingPreTab {
    padding-right: 20px;
}
.repeaterPageingFirstTab {
    padding-right: 5px;
}
.repeaterPageingNextTab {
    padding-right: 5px;
}